@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-7">
            <form id="account" method="post">
                <h1>Авторизація</h1>
                <p>за допомогою вашого облікового запису</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.Email" class="validate" id="email" type="email" placeholder="Email" />
                <input asp-for="Input.Password"  id="password" type="password" placeholder="Пароль" />
                <button type="submit" name="action" class="mt-4">Вхід</button>
            </form>
        </div>
        <div class="d-none d-lg-block col-lg-6 col-xl-5">
            <div class="overlay-panel">
                <h2 class="font-weight-bolder">З&nbsp;Поверненням!</h2>
                <p class="pt-3 h6">Щоб залишатися на зв’язку з нами, увійдіть у систему зі своїм Email і паролем.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
  
}