bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/IoTHomeAssistant/v16/.suo
/.vs/IoTHomeAssistant/DesignTimeBuild/.dtbcache.v2
/_ReSharper.Caches/
*.suo
*.json
*.v2
*.config
/.idea/.idea.IoTHomeAssistant/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.IoTHomeAssistant/.idea/.name
/.idea/.idea.IoTHomeAssistant/.idea/indexLayout.xml
/.idea/.idea.IoTHomeAssistant/.idea/vcs.xml
/.vs/IoTHomeAssistant/v17/TestStore/0
/Plugins/Sonoff/.vs/Sonoff/v17/.futdcache.v1
/Plugins/Zigbee2Mqtt/.vs/Zigbee2Mqtt/v17/.futdcache.v1
/Plugins/Zigbee2Mqtt/Zigbee2Mqtt.Switch/Zigbee2Mqtt.Switch.csproj.user
/Plugins/Tuya/.vs/Tuya/v17/.futdcache.v1
/Plugins/Gree/.vs/Gree/v17/.futdcache.v1
/Plugins/Xiaomi/.vs/Xiaomi/v17/.futdcache.v1
/Plugins/SolarPlugin/SolarPlugin/SolarPlugin.csproj.user
