/*!
 * IOT theme SYMBIOT Delta v1 (https://www.creatingo.com)
 * Copyright 2016-2019 creatingo.com
 * Autor: Jozef Dvorsky
 */
/* ------------------------------
   Global add-ons
------------------------------ */
html {
    font-size: 16px; }

body {
    background: linear-gradient(135deg, #fbfdff 0%, #e4e5eb 100%); }

#wrapper {
    min-height: 100vh;
    position: relative;
    padding: 4.2rem 0 6rem; }
#wrapper.hidden {
    height: 100vh;
    overflow: hidden;
    visibility: hidden; }
@media (min-width: 576px) {
    #wrapper {
        padding: 6rem 0 9rem; } }

#login {
    min-height: 420px;
    height: 100vh; }
#login .card {
    background: linear-gradient(135deg, #ff9966 0%, #ff5e55 100%); }
#login .card label {
    color: #ffffff; }

#iot-preloader,
.card-preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1040;
    display: block;
    overflow: hidden; }
#iot-preloader .center-preloader,
.card-preloader .center-preloader {
    height: 100%;
    vertical-align: middle; }
#iot-preloader .center-preloader .spinners,
.card-preloader .center-preloader .spinners {
    width: 60px;
    height: 60px;
    margin: 0 auto; }
#iot-preloader .center-preloader .spinners .spinner01,
.card-preloader .center-preloader .spinners .spinner01 {
    border: 5px solid #ff7f5f;
    opacity: .9;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    will-change: transform, opacity;
    -webkit-animation: spinPulse 1s infinite ease-in-out;
    animation: spinPulse 1s infinite ease-in-out; }
#iot-preloader .center-preloader .spinners .spinner02,
.card-preloader .center-preloader .spinners .spinner02 {
    border: 5px solid #ff7f5f;
    opacity: .9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    will-change: transform;
    -webkit-animation: spinoffPulse 1s infinite linear;
    animation: spinoffPulse 1s infinite linear; }

.icon-pulse {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    will-change: transform, opacity;
    -webkit-animation: iconPulse 1s infinite ease-in-out;
    animation: iconPulse 1s infinite ease-in-out; }

@-webkit-keyframes iconPulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }
    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0.75; }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }

@keyframes iconPulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }
    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0.75; }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }
@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        transform: rotate(160deg);
        opacity: 0; }
    50% {
        -webkit-transform: rotate(145deg);
        transform: rotate(145deg);
        opacity: 1; }
    100% {
        -webkit-transform: rotate(-320deg);
        transform: rotate(-320deg);
        opacity: 0; } }
@keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        transform: rotate(160deg);
        opacity: 0; }
    50% {
        -webkit-transform: rotate(145deg);
        transform: rotate(145deg);
        opacity: 1; }
    100% {
        -webkit-transform: rotate(-320deg);
        transform: rotate(-320deg);
        opacity: 0; } }
@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }
@keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }
.info-holder {
    width: 0rem;
    height: 0rem;
    position: absolute; }
.info-holder.info-cb {
    bottom: 0;
    left: 50%; }
.info-holder.info-ct {
    top: 0;
    left: 50%; }
.info-holder.info-rb {
    bottom: 0;
    right: 0; }
.info-holder.info-lc {
    top: 50%;
    left: 0; }
.info-holder.info-rc {
    top: 50%;
    right: 0; }
.info-holder [data-toggle="popover-all"] {
    position: relative; }

.icon-sprite {
    width: 2rem;
    height: 2rem;
    margin: 0; }
.icon-sprite.icon-1x {
    width: 3rem;
    height: 3rem; }
.icon-sprite.icon-2x {
    width: 4rem;
    height: 4rem; }

[data-alerts="0"] .icon-dot {
    display: none; }

.alert-success {
    color: #ffffff;
    background-color: #59ac4a;
    border-color: rgba(89, 172, 74, 0); }
.alert-success hr {
    border-top-color: rgba(80, 154, 66, 0); }
.alert-success .alert-link {
    color: #e6e6e6; }

.alert-info {
    color: #ffffff;
    background-color: #0f9ce6;
    border-color: rgba(15, 156, 230, 0); }
.alert-info hr {
    border-top-color: rgba(13, 140, 206, 0); }
.alert-info .alert-link {
    color: #e6e6e6; }

.alert-warning {
    color: #000;
    background-color: #eba440;
    border-color: rgba(235, 164, 64, 0); }
.alert-warning hr {
    border-top-color: rgba(233, 153, 41, 0); }
.alert-warning .alert-link {
    color: black; }

.alert-danger {
    color: #ffffff;
    background-color: #dd004a;
    border-color: rgba(221, 0, 74, 0); }
.alert-danger hr {
    border-top-color: rgba(196, 0, 65, 0); }
.alert-danger .alert-link {
    color: #e6e6e6; }

.btn-fab {
    width: 54px;
    height: 54px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #0f9ce6;
    border-color: transparent;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15); }
.btn-fab:hover, .btn-fab:focus {
    background-color: #ffffff;
    color: #0f9ce6;
    border-color: transparent;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25); }

.btn-fixed-br {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1031; }

h1,
h2,
h3 {
    color: rgba(83, 99, 115, 0.5); }

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1; }

hr {
    width: 100%; }

.center-abs {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.close-modal {
    position: absolute;
    top: 4rem;
    right: 1.5rem;
    font-size: 2rem;
    color: rgba(83, 99, 115, 0.6); }
.close-modal:hover, .close-modal:focus {
    color: #536373; }

.popover.bs-popover-bottom .arrow::after,
.popover.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: #0f9ce6; }

.borderless,
.borderless li {
    border: 0 none !important; }

.nav-tabs.nav-fill {
    border-bottom: none; }
.nav-tabs.nav-fill .nav-item {
    margin-bottom: 0; }
.nav-tabs.nav-fill .nav-item .nav-link {
    padding: 0.5rem;
    color: rgba(83, 99, 115, 0.6);
    border-bottom: 2px solid rgba(83, 99, 115, 0.6);
    font-size: 0.85rem; }
.nav-tabs.nav-fill .nav-item .nav-link:hover, .nav-tabs.nav-fill .nav-item .nav-link:focus {
    color: #536373;
    border-bottom: 2px solid #536373; }
.nav-tabs.nav-fill .nav-item .nav-link.active {
    color: #ff7f5f;
    border-bottom: 2px solid #ff7f5f; }

.col-form-label {
    color: rgba(83, 99, 115, 0.6); }

.form-control.custom-focus {
    box-shadow: none; }
.form-control.custom-focus:focus, .form-control.custom-focus:active {
    box-shadow: none; }

/* ------------------------------
   Navs add-ons
------------------------------ */
.navbar-icons .nav-link {
    padding: 0.25rem !important;
    line-height: 100%;
    color: rgba(83, 99, 115, 0.5); }
.navbar-icons .nav-link:hover {
    color: #536373; }
.navbar-icons button.nav-link:focus, .navbar-icons button.nav-link.focus {
    box-shadow: none; }

.navbar-toggler {
    padding: .25rem;
    line-height: 100%;
    border: 0;
    outline: 0;
    color: rgba(83, 99, 115, 0.5);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
.navbar-toggler:hover, .navbar-toggler:focus {
    border: 0;
    outline: 0; }
.navbar-toggler:focus, .navbar-toggler.focus {
    box-shadow: none; }
.navbar-toggler.collapsed {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

.navbar.fixed-top {
    padding: 0.25rem 0.5rem;
    border: 0;
    background-color: #ffffff;
    box-shadow: 0 0 0.25rem rgba(83, 99, 115, 0.1); }

.navbar.fixed-bottom {
    max-height: 100vh;
    overflow-y: auto;
    background: linear-gradient(135deg, #ff9966 0%, #ff5e55 100%);
    box-shadow: 0 0 0.25rem rgba(83, 99, 115, 0.25); }
.navbar.fixed-bottom .nav-item {
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
.navbar.fixed-bottom .nav-link {
    line-height: 32px;
    padding-right: 1rem;
    padding-left: 1rem; }
.navbar.fixed-bottom .nav-link span {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle; }
.navbar.fixed-bottom .icon-sprite {
    display: inline-block;
    vertical-align: middle; }
@media (min-width: 576px) {
    .navbar.fixed-bottom .nav-item {
        border-top: 0 none; }
    .navbar.fixed-bottom .nav-link {
        text-align: center;
        line-height: 14px; }
    .navbar.fixed-bottom .nav-link span {
        display: inline;
        font-size: 14px; }
    .navbar.fixed-bottom .icon-sprite {
        display: block;
        margin: 0 auto;
        width: 3rem;
        height: 3rem; } }

/* ------------------------------
   Custom buttons
------------------------------ */
.btn {
    cursor: pointer; }

.btn .icon-sprite {
    pointer-events: none; }

.btn-secondary {
    color: #ffffff; }
.btn-secondary:hover, .btn-secondary:focus {
    color: #ffffff; }
.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #ffffff; }

.btn-outline-secondary:hover {
    color: #ffffff; }

.btn-label {
    min-width: 4rem;
    color: #ffffff;
    background-color: #536373;
    box-shadow: none; }
.btn-label:hover, .btn-label:focus {
    background-color: #485664; }
.btn-label.active {
    color: #ffffff;
    background-color: #ff7f5f;
    box-shadow: none; }

/* ------------------------------
   Switch (checkbox) styles
------------------------------ */
.switch {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-bottom: 0;
    padding: 2px;
    width: 54px;
    height: 32px;
    background-color: none;
    border-radius: 32px;
    will-change: background-color;
    transition: background-color 0.3s; }
.switch input[type="checkbox"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
.switch:before, .switch:after {
    display: block;
    position: absolute;
    content: ""; }
.switch:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    border-radius: 28px;
    border: 1px solid rgba(83, 99, 115, 0.5);
    color: rgba(83, 99, 115, 0.5);
    line-height: 26px;
    vertical-align: middle;
    font-size: 10px;
    text-align: center;
    text-indent: 20px;
    content: "OFF"; }
.switch:after {
    top: 6px;
    left: 6px;
    bottom: 6px;
    width: 20px;
    background-color: rgba(83, 99, 115, 0.5);
    border-radius: 20px;
    -webkit-transform: translate(0);
    transform: translate(0);
    will-change: transform;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
.switch.checked:before {
    color: #ff7f5f;
    text-indent: -20px;
    content: "ON"; }
.switch.checked:after {
    -webkit-transform: translate(22px);
    transform: translate(22px);
    background-color: #ff7f5f; }

/* ------------------------------
   Data-cards add-ons
------------------------------ */
.card {
    margin: 0.75rem 0;
    background-color: rgba(255, 255, 255, 0.5); }
.card .card-img-top {
    overflow: hidden; }
.card h3,
.card .card-title {
    margin: 0;
    color: rgba(83, 99, 115, 0.5); }

[data-unit] .card-stream {
    display: none; }
[data-unit] .card-stream.off {
    display: block;
    background-color: rgba(83, 99, 115, 0.05);
    box-shadow: inset 0 0 4rem rgba(83, 99, 115, 0.15); }
[data-unit] .card-stream.off h2 {
    color: rgba(83, 99, 115, 0.5); }
[data-unit] .icon-sprite {
    color: rgba(83, 99, 115, 0.5); }
[data-unit] .icon-sprite .subicon-unlocked {
    opacity: 1;
    color: #536373; }
[data-unit] .icon-sprite .subicon-locked {
    opacity: 0;
    color: #ff7f5f; }
[data-unit] .status {
    color: rgba(83, 99, 115, 0.5);
    margin: 0.25rem;
    line-height: 1.15; }
[data-unit] .title-status {
    padding: 0 0.25rem; }
[data-unit] .title-status .status {
    color: rgba(83, 99, 115, 0.5); }
[data-unit] .title-status .status .arm:before {
    content: "Disarmed"; }
[data-unit] h4 {
    margin: 0.25rem;
    color: #536373; }
[data-unit] h5 {
    margin: 0.25rem;
    color: #536373; }
[data-unit] .entry {
    padding-left: 3.25rem;
    margin-bottom: 0;
    color: rgba(83, 99, 115, 0.5); }
[data-unit] .specs {
    margin-bottom: 0;
    text-align: left;
    color: rgba(83, 99, 115, 0.5); }
[data-unit] .only-if-active {
    display: none; }
[data-unit].active .card-stream {
    display: block; }
[data-unit].active .card-stream.off {
    display: none; }
[data-unit].active .icon-sprite {
    color: #ff7f5f; }
[data-unit].active .status {
    color: #ff7f5f; }
[data-unit].active .only-if-active {
    display: block; }
[data-unit].active.lock .icon-sprite {
    color: rgba(83, 99, 115, 0.5); }
[data-unit].active.lock .icon-sprite .subicon-unlocked {
    opacity: 0; }
[data-unit].active.lock .icon-sprite .subicon-locked {
    opacity: 1; }
[data-unit].active.lock .title-status .status {
    color: #ff7f5f; }
[data-unit].active.lock .title-status .status .arm:before {
    content: "Armed"; }

.list-group-flush {
    border-bottom: 1px solid rgba(83, 99, 115, 0.12); }

.list-group-item {
    display: flex;
    border-width: 1px 0 0 0; }
.list-group-item.active {
    z-index: inherit;
    border-width: 1px 0 0 0; }

.ratio-container {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0; }

.ratio-8-6 {
    padding-bottom: calc(100% * 6 / 8); }

.ratio-container svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    display: block; }

.house-bg {
    background-image: url(../images/house.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }

#roll-doors {
    transition: stroke-dashoffset 0.25s; }
#roll-doors.active {
    stroke: #ff7f5f; }

#doorway-light,
#garage-light {
    opacity: 0;
    transition: opacity 0.25s; }
#doorway-light.active,
#garage-light.active {
    opacity: 1; }

.timer-controls button:not([data-action="open"]) {
    display: none; }

.progress {
    overflow: visible; }
.progress .progress-tiny {
    height: 4px;
    will-change: width;
    transition: width 0.25s; }

.ct-series-a .ct-bar.negative {
    stroke: #536373; }

/* ------------------------------
   Custom modals
------------------------------ */
.modal .modal-content {
    padding: 1.2rem;
    border-radius: 0; }

.modal-nobg .modal-content {
    padding: 5rem 1.2rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none; }
.modal-nobg .modal-content .modal-body {
    padding: 0 15px; }

.modal-danger .modal-content {
    color: #ffffff;
    background-color: #dd004a;
    border: none;
    box-shadow: none;
    cursor: pointer; }
.modal-danger .modal-content h3 {
    margin-bottom: 0;
    color: #ffffff; }

.modal-warning .modal-content {
    color: #ffffff;
    background-color: #ff7f5f;
    border: none;
    box-shadow: none; }
.modal-warning .modal-content h3 {
    color: #ffffff;
    line-height: 1;
    margin-bottom: 0; }
.modal-warning .modal-content h3 span {
    float: right;
    display: inline-block;
    margin-right: 0.5rem;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateY(-2px) scale(1.5);
    transform: translateY(-2px) scale(1.5); }

.keyboard {
    max-width: 160px;
    margin: 0 auto;
    text-align: center; }

/* ------------------------------
   Range slider styles - based on https://github.com/andreruffert/rangeslider.js
------------------------------ */
.rangeslider,
.rangeslider__fill {
    display: block; }

.rangeslider {
    background-color: rgba(83, 99, 115, 0.4);
    position: relative; }

.rangeslider--horizontal {
    height: 8px;
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; }

.rangeslider--vertical {
    width: 8px;
    min-height: 120px;
    max-height: 100%;
    margin-left: auto; }

.rangeslider--disabled {
    opacity: 0.4; }

.rangeslider__fill {
    position: absolute;
    background-color: #ff7f5f; }

.rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%; }

.rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%; }

.rangeslider__handle {
    background: #536373;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
    position: absolute;
    box-shadow: none;
    border-radius: 10px; }

.rangeslider__handle:active,
.rangeslider--active .rangeslider__handle {
    background: #ff7f5f; }

.rangeslider--horizontal .rangeslider__handle {
    top: -6px;
    touch-action: pan-y;
    -ms-touch-action: pan-y; }

.rangeslider--vertical .rangeslider__handle {
    width: 20px;
    height: 30px;
    left: -6px;
    touch-action: pan-x;
    -ms-touch-action: pan-x; }

.ct-label {
    fill: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.75rem;
    line-height: 1; }

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
    display: block;
    display: flex; }

.ct-chart-pie .ct-label,
.ct-chart-donut .ct-label {
    dominant-baseline: central; }

.ct-label.ct-horizontal.ct-start {
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start; }

.ct-label.ct-horizontal.ct-end {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start; }

.ct-label.ct-vertical.ct-start {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end; }

.ct-label.ct-vertical.ct-end {
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    text-anchor: end; }

.ct-grid {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
    stroke-dasharray: 2px; }

.ct-grid-background {
    fill: none; }

.ct-point {
    stroke-width: 10px;
    stroke-linecap: round; }

.ct-line {
    fill: none;
    stroke-width: 4px; }

.ct-area {
    stroke: none;
    fill-opacity: 0.1; }

.ct-bar {
    fill: none;
    stroke-width: 12px; }

.ct-slice-donut {
    fill: none;
    stroke-width: 60px; }

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
    stroke: #ff7f5f; }
.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
    fill: #ff7f5f; }

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
    stroke: #536373; }
.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
    fill: #536373; }

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
    stroke: #f4c63d; }
.ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area {
    fill: #f4c63d; }

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
    stroke: #d17905; }
.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {
    fill: #d17905; }

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
    stroke: #453d3f; }
.ct-series-e .ct-slice-pie, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-area {
    fill: #453d3f; }

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
    stroke: #59922b; }
.ct-series-f .ct-slice-pie, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-area {
    fill: #59922b; }

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
    stroke: #0544d3; }
.ct-series-g .ct-slice-pie, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-area {
    fill: #0544d3; }

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
    stroke: #6b0392; }
.ct-series-h .ct-slice-pie, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-area {
    fill: #6b0392; }

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
    stroke: #f05b4f; }
.ct-series-i .ct-slice-pie, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-area {
    fill: #f05b4f; }

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
    stroke: #dda458; }
.ct-series-j .ct-slice-pie, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-area {
    fill: #dda458; }

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
    stroke: #eacf7d; }
.ct-series-k .ct-slice-pie, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-area {
    fill: #eacf7d; }

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
    stroke: #86797d; }
.ct-series-l .ct-slice-pie, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-area {
    fill: #86797d; }

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
    stroke: #b2c326; }
.ct-series-m .ct-slice-pie, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-area {
    fill: #b2c326; }

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
    stroke: #6188e2; }
.ct-series-n .ct-slice-pie, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-area {
    fill: #6188e2; }

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
    stroke: #a748ca; }
.ct-series-o .ct-slice-pie, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-area {
    fill: #a748ca; }

.ct-square {
    display: block;
    position: relative;
    width: 100%; }
.ct-square:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 100%; }
.ct-square:after {
    content: "";
    display: table;
    clear: both; }
.ct-square > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-second {
    display: block;
    position: relative;
    width: 100%; }
.ct-minor-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 93.75%; }
.ct-minor-second:after {
    content: "";
    display: table;
    clear: both; }
.ct-minor-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-second {
    display: block;
    position: relative;
    width: 100%; }
.ct-major-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 88.8888888889%; }
.ct-major-second:after {
    content: "";
    display: table;
    clear: both; }
.ct-major-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-third {
    display: block;
    position: relative;
    width: 100%; }
.ct-minor-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 83.3333333333%; }
.ct-minor-third:after {
    content: "";
    display: table;
    clear: both; }
.ct-minor-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-third {
    display: block;
    position: relative;
    width: 100%; }
.ct-major-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 80%; }
.ct-major-third:after {
    content: "";
    display: table;
    clear: both; }
.ct-major-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fourth {
    display: block;
    position: relative;
    width: 100%; }
.ct-perfect-fourth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 75%; }
.ct-perfect-fourth:after {
    content: "";
    display: table;
    clear: both; }
.ct-perfect-fourth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fifth {
    display: block;
    position: relative;
    width: 100%; }
.ct-perfect-fifth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 66.6666666667%; }
.ct-perfect-fifth:after {
    content: "";
    display: table;
    clear: both; }
.ct-perfect-fifth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-sixth {
    display: block;
    position: relative;
    width: 100%; }
.ct-minor-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 62.5%; }
.ct-minor-sixth:after {
    content: "";
    display: table;
    clear: both; }
.ct-minor-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-golden-section {
    display: block;
    position: relative;
    width: 100%; }
.ct-golden-section:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 61.804697157%; }
.ct-golden-section:after {
    content: "";
    display: table;
    clear: both; }
.ct-golden-section > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-sixth {
    display: block;
    position: relative;
    width: 100%; }
.ct-major-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 60%; }
.ct-major-sixth:after {
    content: "";
    display: table;
    clear: both; }
.ct-major-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-seventh {
    display: block;
    position: relative;
    width: 100%; }
.ct-minor-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 56.25%; }
.ct-minor-seventh:after {
    content: "";
    display: table;
    clear: both; }
.ct-minor-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-seventh {
    display: block;
    position: relative;
    width: 100%; }
.ct-major-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 53.3333333333%; }
.ct-major-seventh:after {
    content: "";
    display: table;
    clear: both; }
.ct-major-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-octave {
    display: block;
    position: relative;
    width: 100%; }
.ct-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 50%; }
.ct-octave:after {
    content: "";
    display: table;
    clear: both; }
.ct-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-tenth {
    display: block;
    position: relative;
    width: 100%; }
.ct-major-tenth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 40%; }
.ct-major-tenth:after {
    content: "";
    display: table;
    clear: both; }
.ct-major-tenth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-eleventh {
    display: block;
    position: relative;
    width: 100%; }
.ct-major-eleventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 37.5%; }
.ct-major-eleventh:after {
    content: "";
    display: table;
    clear: both; }
.ct-major-eleventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-twelfth {
    display: block;
    position: relative;
    width: 100%; }
.ct-major-twelfth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 33.3333333333%; }
.ct-major-twelfth:after {
    content: "";
    display: table;
    clear: both; }
.ct-major-twelfth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-double-octave {
    display: block;
    position: relative;
    width: 100%; }
.ct-double-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 25%; }
.ct-double-octave:after {
    content: "";
    display: table;
    clear: both; }
.ct-double-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
