<ol class="color-palette" id="color-0" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 235, 238);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#FFEBEE</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 205, 210);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#FFCDD2</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(239, 154, 154);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#EF9A9A</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(229, 115, 115);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#E57373</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(239, 83, 80);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#EF5350</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(244, 67, 54);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#F44336</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(229, 57, 53);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#E53935</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(211, 47, 47);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#D32F2F</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(198, 40, 40);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#C62828</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(183, 28, 28);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#B71C1C</span>

    </li>
</ol>

<ol class="color-palette" id="color-1" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(252, 228, 236);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#FCE4EC</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(248, 187, 208);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#F8BBD0</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(244, 143, 177);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#F48FB1</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(240, 98, 146);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#F06292</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(236, 64, 122);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#EC407A</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(233, 30, 99);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#E91E63</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(216, 27, 96);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#D81B60</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(194, 24, 91);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#C2185B</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(173, 20, 87);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#AD1457</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(136, 14, 79);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#880E4F</span>

    </li>
</ol>

<ol class="color-palette" id="color-2" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(243, 229, 245);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#F3E5F5</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(225, 190, 231);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#E1BEE7</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(206, 147, 216);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#CE93D8</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(186, 104, 200);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#BA68C8</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(171, 71, 188);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#AB47BC</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(156, 39, 176);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#9C27B0</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(142, 36, 170);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#8E24AA</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(123, 31, 162);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#7B1FA2</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(106, 27, 154);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#6A1B9A</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(74, 20, 140);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#4A148C</span>

    </li>
</ol>

<ol class="color-palette" id="color-3" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(237, 231, 246);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#EDE7F6</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(209, 196, 233);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#D1C4E9</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(179, 157, 219);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#B39DDB</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(149, 117, 205);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#9575CD</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(126, 87, 194);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#7E57C2</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(103, 58, 183);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#673AB7</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(94, 53, 177);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#5E35B1</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(81, 45, 168);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#512DA8</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(69, 39, 160);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#4527A0</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(49, 27, 146);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#311B92</span>

    </li>
</ol>

<ol class="color-palette" id="color-4" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(232, 234, 246);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#E8EAF6</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(197, 202, 233);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#C5CAE9</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(159, 168, 218);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#9FA8DA</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(121, 134, 203);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#7986CB</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(92, 107, 192);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#5C6BC0</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(63, 81, 181);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#3F51B5</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(57, 73, 171);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#3949AB</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(48, 63, 159);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#303F9F</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(40, 53, 147);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#283593</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(26, 35, 126);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#1A237E</span>

    </li>
</ol>

<ol class="color-palette" id="color-5" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(227, 242, 253);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#E3F2FD</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(187, 222, 251);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#BBDEFB</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(144, 202, 249);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#90CAF9</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(100, 181, 246);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#64B5F6</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(66, 165, 245);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#42A5F5</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(33, 150, 243);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#2196F3</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(30, 136, 229);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#1E88E5</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(25, 118, 210);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#1976D2</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(21, 101, 192);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#1565C0</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(13, 71, 161);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#0D47A1</span>

    </li>
</ol>

<ol class="color-palette" id="color-6" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(225, 245, 254);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#E1F5FE</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(179, 229, 252);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#B3E5FC</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(129, 212, 250);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#81D4FA</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(79, 195, 247);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#4FC3F7</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(41, 182, 246);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#29B6F6</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(3, 169, 244);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#03A9F4</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(3, 155, 229);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#039BE5</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(2, 136, 209);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#0288D1</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(2, 119, 189);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#0277BD</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(1, 87, 155);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#01579B</span>

    </li>
</ol>

<ol class="color-palette" id="color-7" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(224, 247, 250);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#E0F7FA</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(178, 235, 242);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#B2EBF2</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(128, 222, 234);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#80DEEA</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(77, 208, 225);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#4DD0E1</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(38, 198, 218);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#26C6DA</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 188, 212);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#00BCD4</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 172, 193);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#00ACC1</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 151, 167);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#0097A7</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 131, 143);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#00838F</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 96, 100);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#006064</span>

    </li>
</ol>

<ol class="color-palette" id="color-8" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(224, 242, 241);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#E0F2F1</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(178, 223, 219);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#B2DFDB</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(128, 203, 196);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#80CBC4</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(77, 182, 172);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#4DB6AC</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(38, 166, 154);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#26A69A</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 150, 136);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#009688</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 137, 123);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#00897B</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 121, 107);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#00796B</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 105, 92);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#00695C</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(0, 77, 64);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#004D40</span>

    </li>
</ol>

<ol class="color-palette" id="color-9" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(232, 245, 233);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#E8F5E9</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(200, 230, 201);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#C8E6C9</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(165, 214, 167);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#A5D6A7</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(129, 199, 132);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#81C784</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(102, 187, 106);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#66BB6A</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(76, 175, 80);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#4CAF50</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(67, 160, 71);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#43A047</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(56, 142, 60);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#388E3C</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(46, 125, 50);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#2E7D32</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(27, 94, 32);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#1B5E20</span>

    </li>
</ol>

<ol class="color-palette" id="color-10" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(241, 248, 233);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#F1F8E9</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(220, 237, 200);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#DCEDC8</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(197, 225, 165);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#C5E1A5</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(174, 213, 129);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#AED581</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(156, 204, 101);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#9CCC65</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(139, 195, 74);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#8BC34A</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(124, 179, 66);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#7CB342</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(104, 159, 56);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#689F38</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(85, 139, 47);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#558B2F</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(51, 105, 30);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#33691E</span>

    </li>
</ol>

<ol class="color-palette" id="color-11" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(249, 251, 231);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#F9FBE7</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(240, 244, 195);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#F0F4C3</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(230, 238, 156);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#E6EE9C</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(220, 231, 117);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#DCE775</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(212, 225, 87);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#D4E157</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(205, 220, 57);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#CDDC39</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(192, 202, 51);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#C0CA33</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(175, 180, 43);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#AFB42B</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(158, 157, 36);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#9E9D24</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(130, 119, 23);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#827717</span>

    </li>
</ol>

<ol class="color-palette" id="color-12" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 253, 231);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#FFFDE7</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 249, 196);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#FFF9C4</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 245, 157);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#FFF59D</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 241, 118);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#FFF176</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 238, 88);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#FFEE58</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 235, 59);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#FFEB3B</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(253, 216, 53);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#FDD835</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(251, 192, 45);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#FBC02D</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(249, 168, 37);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#F9A825</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(245, 127, 23);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#F57F17</span>

    </li>
</ol>

<ol class="color-palette" id="color-13" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 248, 225);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#FFF8E1</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 236, 179);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#FFECB3</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 224, 130);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#FFE082</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 213, 79);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#FFD54F</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 202, 40);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#FFCA28</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 193, 7);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#FFC107</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 179, 0);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#FFB300</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 160, 0);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#FFA000</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 143, 0);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#FF8F00</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 111, 0);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#FF6F00</span>

    </li>
</ol>

<ol class="color-palette" id="color-14" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 243, 224);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#FFF3E0</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 224, 178);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#FFE0B2</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 204, 128);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#FFCC80</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 183, 77);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#FFB74D</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 167, 38);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#FFA726</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 152, 0);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#FF9800</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(251, 140, 0);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#FB8C00</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(245, 124, 0);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#F57C00</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(239, 108, 0);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#EF6C00</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(230, 81, 0);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#E65100</span>

    </li>
</ol>

<ol class="color-palette" id="color-15" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(251, 233, 231);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#FBE9E7</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 204, 188);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#FFCCBC</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 171, 145);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#FFAB91</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 138, 101);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#FF8A65</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 112, 67);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#FF7043</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(255, 87, 34);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#FF5722</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(244, 81, 30);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#F4511E</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(230, 74, 25);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#E64A19</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(216, 67, 21);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#D84315</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(191, 54, 12);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#BF360C</span>

    </li>
</ol>

<ol class="color-palette" id="color-16" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(239, 235, 233);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#EFEBE9</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(215, 204, 200);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#D7CCC8</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(188, 170, 164);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#BCAAA4</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(161, 136, 127);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#A1887F</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(141, 110, 99);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#8D6E63</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(121, 85, 72);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#795548</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(109, 76, 65);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#6D4C41</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(93, 64, 55);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#5D4037</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(78, 52, 46);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#4E342E</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(62, 39, 35);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#3E2723</span>

    </li>
</ol>

<ol class="color-palette" id="color-17" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(250, 250, 250);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#FAFAFA</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(245, 245, 245);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#F5F5F5</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(238, 238, 238);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#EEEEEE</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(224, 224, 224);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#E0E0E0</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(189, 189, 189);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#BDBDBD</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(158, 158, 158);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#9E9E9E</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(117, 117, 117);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#757575</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(97, 97, 97);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#616161</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(66, 66, 66);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#424242</span>

    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(33, 33, 33);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#212121</span>

    </li>
</ol>

<ol class="color-palette" id="color-18" style="display: none">
    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(236, 239, 241);">
        <span data-bind="text: weight">50</span>
        <span data-bind="text: hex">#ECEFF1</span>
    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(207, 216, 220);">
        <span data-bind="text: weight">100</span>
        <span data-bind="text: hex">#CFD8DC</span>
    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(176, 190, 197);">
        <span data-bind="text: weight">200</span>
        <span data-bind="text: hex">#B0BEC5</span>
    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(144, 164, 174);">
        <span data-bind="text: weight">300</span>
        <span data-bind="text: hex">#90A4AE</span>
    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(120, 144, 156);">
        <span data-bind="text: weight">400</span>
        <span data-bind="text: hex">#78909C</span>
    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(96, 125, 139);">
        <span data-bind="text: weight">500</span>
        <span data-bind="text: hex">#607D8B</span>
    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(84, 110, 122);">
        <span data-bind="text: weight">600</span>
        <span data-bind="text: hex">#546E7A</span>
    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(69, 90, 100);">
        <span data-bind="text: weight">700</span>
        <span data-bind="text: hex">#455A64</span>
    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(55, 71, 79);">
        <span data-bind="text: weight">800</span>
        <span data-bind="text: hex">#37474F</span>
    </li>

    <li id="clipboardItem" class="color-palette__item" style="background-color: rgb(38, 50, 56);">
        <span data-bind="text: weight">900</span>
        <span data-bind="text: hex">#263238</span>
    </li>
</ol>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        $(".color-palette").on('click', function (event) {
            var selectedColor = $(event.target.closest("li")).css("background-color")
            $("#setting-title").css("color", selectedColor);
        });
    })
</script>