<div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content p-0">
            <div class="widget-wrapper">
                <div id="left-side">
                    <ul>
                        <li class="conf-icon ml-4">
                            <i class="fa fa-cogs" aria-hidden="true" style="font-size: 120px;"></i>
                        </li>
                        <li class="conf-text" style="font-size: 36px;">
                            Configuration
                        </li>
                    </ul>
                </div>
                <div id="right-side">
                    <div class="main active" name_attr="main">
                        <h3>Device Configuration</h3>
                        <hr />
                        <div class="shadow required">
                            <input type="text" class="form-control form-control-lg" id="title" placeholder="Title">
                        </div>
                        <div class="device-type-plugin">
                            <h5 class="mt-4">Device type and Plugin:</h5>
                            <hr />
                            <div class="row mt-2 ">
                                <div class="col-12">
                                    <button style="border: 1px solid silver; padding: 0.8rem; font-size: 1.2rem;" class="btn dropdown-toggle shadow pl-3 pr-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Device Type
                                    </button>
                                    <img id="device-type-img" src="" height="40" class="ml-3" style="display: none" />
                                    <label id="device-type-lbl"></label>

                                    <ul class="dropdown-menu" id="device-type-id" aria-labelledby="dropdownMenuButton">
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/4206/4206355.png" height="40" type_attr="switch" />
                                            switch/toggle
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/427/427735.png" height="40" type_attr="light" />
                                            light
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/911/911409.png" height="40" type_attr="ac" />
                                            AC
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/1848/1848660.png" height="40" type_attr="cleaner" />
                                            cleaner
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/741/741236.png" height="40" type_attr="thermostat" />
                                            heating
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/1606/1606312.png" height="40" type_attr="blinds" />
                                            blinds
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/763/763812.png" height="40" type_attr="motiondetector" />
                                            movement sensor
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/1169/1169906.png" height="40" type_attr="doorwindowsensor" />
                                            open\close sensor
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/809/809744.png" height="40" type_attr="smokefiresensor" />
                                            smoke & fire alarm sensor
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/2898/2898756.png" height="40" type_attr="waterleaksensor" />
                                            water leak sensor
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/5256/5256188.png" height="40" type_attr="temperaturesensor" />
                                            temperature sensor
                                        </li>
                                        <li class="dropdown-item">
                                            <img src="https://image.flaticon.com/icons/png/512/1808/1808701.png" height="40" type_attr="weatherstation" />
                                            weather station
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-4 required">
                                <select class="shadow form-control form-control-lg" id="plugin-dwn" style="display:none;">
                                    <option value="" selected>Select Plugin</option>
                                </select>
                            </div>
                        </div>
                        <div class="configs" style="display:none;">
                            <h5 class="mt-4">Configurations:</h5>
                            <hr />
                            <div class="row" style="display: none;">
                                <div class="col-6 required" >
                                    <span class="small font-weight-bold plugin-title"></span>
                                    <input type="hidden" class="plugin-configuration-id">
                                    <input type="text" class="form-control form-control-lg shadow plugin-configuration-value" placeholder="">
                                    <span class="small plugin-desc"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 btn-bottom">
                                <div class="float-right">
                                    <button class="btn btn-secondary mr-4" id="cancelButton">Cancel</button>
                                    <button class="btn btn-primary" id="device-save">&nbsp;Save&nbsp;</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var plugins = [];
    var currentDevice;

    document.addEventListener('DOMContentLoaded', function () {
        $('#deviceModal').on('show.bs.modal', function () {
            if (currentDevice != undefined) {
                console.log(currentDevice);
                $('.device-type-plugin').hide();
            } else {
                $('.device-type-plugin').show();
            }
        });

        $("#device-type-id li").click(function () {
            $("#device-type-img")
                .attr('src', $('img', this).attr('src'))
                .attr('type_attr', $('img', this).attr('type_attr'))
                .show();
            $("#device-type-lbl").text($(this).text());

            $.ajax({
                type: "GET",
                url: "/api/plugins/type/" + $('img', this).attr('type_attr'),
                dataType: 'json',
                contentType: 'application/json',
                success: function (response) {
                    plugins = response;
                    $('.configs').hide();
                    $('#plugin-dwn option').not(':first').remove();
                    $('#plugin-dwn option:first').attr('selected', true);

                    if (plugins.length > 0) {
                        $.each(plugins, function (i, item) {
                            $('#plugin-dwn').append($('<option>', {
                                value: item.id,
                                text: item.title
                            }));
                        });
                    }

                    $('#plugin-dwn').show();
                }
            });
        });

        $('#plugin-dwn').on('change', function () {
            var plugin = plugins.find(x => x.id == $(this).val());
            $('.configs .row').not(':first').remove();

            if (plugin != undefined) {
                $.each(plugin.configurations, function (i, item) {
                    var row = $('.configs .row:first').clone();

                    $('.plugin-configuration-id', row).val(item.id);
                    $('.plugin-title', row).text(item.title);
                    $('.plugin-configuration-value', row).attr('placeholder', item.title);
                    $('.plugin-desc', row).text(item.description);
                    row.show();

                    $('.configs').append(row);
                    $('.configs').show();
                });
            } else {
                $('.configs').hide();
            }
        });

        $('#device-save').on('click', function () {
            $('#device-save').prop('disabled', true);
            var requires = $("#deviceModal .required:visible");
            var emptyFields = 0;

            requires.each(function () {
                var input = $('input, select, textarea', this);
                if (input && (input.val() == "" || input.val() == null)) {
                    $(this).addClass("vibration");
                    emptyFields++;
                }                
            });

            var img = $('#device-type-img');
            if (img.attr('src') == '') {
                img.closest('.row').addClass("vibration");
                emptyFields++;
            }

            if (emptyFields == 0) {
                var pluginDevice = {
                    pluginId: $('#plugin-dwn').val(),
                    configurations: []
                };

                $(".configs .row:visible").each(function () {
                    pluginDevice.configurations.push({
                        pluginConfigurationId: $('.plugin-configuration-id', this).val() || 0,
                        value: $('.plugin-configuration-value', this).val()
                    });
                });

                var device = {
                    id: $('#deviceModal input[name=device-id]').val(),
                    title: $('#title').val(),
                    type: $('#device-type-img').attr('type_attr'),
                    pluginDevice: pluginDevice
                }

                $.ajax({
                    type: device.id === "0" ? "POST" : "PUT",
                    url: "/api/devices",
                    data: JSON.stringify(device),
                    dataType: 'json',
                    contentType: 'application/json',
                });

                $('#deviceModal').modal('toggle');

            } else {
                setTimeout(function () {
                    $("#deviceModal .required").removeClass("vibration");
                    $("#deviceModal #device-type-img").closest('.row').removeClass("vibration");
                    $('#device-save').prop('disabled', false);
                }, 1500);
            }

        });
    });
</script>