<link href="~/css/clockpicker.css" rel="stylesheet" />

<div class="modal fade" id="jobTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 105em;">
        <div class="modal-content p-0" style="width: 105em;">
            <div class="widget-wrapper" style="width: 105em;">                
                <div id="left-side">
                    <ul>
                        <li class="conf-icon ml-4">
                            <i class="fa fa-cogs" aria-hidden="true" style="font-size: 120px;"></i>
                        </li>
                        <li class="conf-text" style="font-size: 36px;">
                            Configuration
                        </li>
                    </ul>
                </div>
                <div id="right-side">
                    
                    <div class="main">
                        <h3>Add new Task</h3>
                        <hr />
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-4 required">
                                    <input type="hidden" value="0" name="task-id"/>
                                    <input type="text" class="form-control form-control-lg shadow" name="title" placeholder="Title">
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 widget plugin-when">
                                <div class="list-group-item m-0 when-input required" style="display: none">
                                    <label for="when" class="p-4"><b>WHEN:</b></label>
                                    <input type="hidden" value="0" name="when-id" />
                                    <select data-id="when" class="w-100 mt-2 bg-white shadow form-control form-control-lg">
                                        <option value="" selected disabled>Please Select</option>
                                        <option value="1">Once</option>
                                        <option value="2">Every Time</option>
                                        <option value="3">Event Occurred</option>
                                        <option value="4">Condition is Met</option>
                                        <option value="5">Task Triggered</option>
                                    </select>
                                    <a href="#" class="rm-section p-3"><i class="fa fa-trash" style="color: red; font-size: 1.5rem"></i></a>
                                </div>
                                <div class="group when-group" style="display: none">
                                    <div class="list-group-item days" style="display: none">
                                        <div class="row">
                                            <div class="col-8 pl-4 required">
                                                <select multiple class="w-100 mt-2 pl-2 bg-white shadow form-control">
                                                    <option value="1">Monday</option>
                                                    <option value="2">Tuesday</option>
                                                    <option value="3">Wednesday</option>
                                                    <option value="4">Thursday</option>
                                                    <option value="5">Friday</option>
                                                    <option value="6">Saturday</option>
                                                    <option value="7">Sunday</option>
                                                </select>
                                            </div>
                                            <div class="col-4 pt-2 mb-4">
                                                <div class="shadow required clockpicker ml-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text p-0 pl-1 pr-1 shadow">
                                                            <i aria-hidden="true" class="fa fa-clock-o"></i>
                                                        </div>
                                                        <input type="text" placeholder="00:00" id="tst12" name="tst12" class="form-control form-control-lg shadow p-3">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item date" style="display: none">
                                        <div class="row mb-4">
                                            <div class="col-6 ml-4">
                                                <div class="required mr-4">
                                                    <div class="input-group-prepend required">
                                                        <div class="input-group-text p-0 pl-1 pr-1 shadow">
                                                            <i aria-hidden="true" class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" name="date" placeholder="dd/mm/yyyy" class="form-control form-control-lg shadow datepicker">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="required clockpicker">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text p-0 pl-1 pr-1 shadow">
                                                            <i aria-hidden="true" class="fa fa-clock-o"></i>
                                                        </div>
                                                        <input type="text" name="time" placeholder="00:00" class="form-control form-control-lg shadow p-3">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item events" style="display: none">
                                        <div class="row">
                                            <div class="col-12 pl-4 mb-4 required">
                                                <select name="event" class="bg-white shadow form-control form-control-lg w-100">
                                                    <option value="" selected disabled>Select Event</option>
                                                    <option value="1">Event #1</option>
                                                    <option value="2">Event #2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item conditions" style="display: none">
                                        <div class="row">
                                            <div class="col-4 pl-4 mb-4 required">
                                                <select name="sensor" class="bg-white shadow form-control form-control-lg w-100">
                                                    <option value="" selected disabled>Sensor</option>
                                                    <option value="1">Sensor #1</option>
                                                    <option value="2">Sensor #2</option>
                                                </select>
                                            </div>
                                            <div class="col-4 pl-4 mb-4 required">
                                                <select name="operation" class="bg-white shadow w-100 form-control form-control-lg">
                                                    <option value="" selected disabled>Condition</option>
                                                    <option value="1">==</option>
                                                    <option value="2">!=</option>
                                                    <option value="3"><</option>
                                                    <option value="4">></option>
                                                    <option value="5"><=</option>
                                                    <option value="6">>=</option>
                                                </select>
                                            </div>
                                            <div class="col-4 pl-4 mb-4 required">
                                                <input type="text" name="value" placeholder="Value" class="form-control form-control-lg shadow p-3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item tasks" style="display: none">
                                        <div class="row">
                                            <div class="col-12 pl-4 mb-4 required">
                                                <select class="bg-white shadow w-100 mt-2 pl-2 form-control form-control-lg" name="task">
                                                    <option value="" selected disabled>Select Task</option>
                                                    <option value="1">Task #1</option>
                                                    <option value="2">Task #2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item hr">
                                        <hr />
                                    </div>
                                </div>
                                <div class="list-group-item separator">
                                    <div class="float-left"></div>
                                    <div class="float-right" style="margin-top: -25px;">
                                        <span><a href="#" id="add-when">ADD</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 widget plugin-then" >
                                <div class="list-group-item then-input required" style="display: none">
                                    <input type="hidden" value="0" name="then-id" />
                                    <label for="then" class="p-4"><b>THEN:</b></label>
                                    <select class="bg-white shadow form-control form-control-lg w-100 mt-2" data-id="then">
                                        <option value="" selected disabled>Please Select</option>
                                        <option value="1">Execute Command</option>
                                        <option value="2">Trigger Task</option>
                                        <option value="3">Wait</option>
                                    </select>
                                    <a href="#" class="rm-section p-3"><i class="fa fa-trash" style="color: red; font-size: 1.5rem"></i></a>
                                </div>
                                <div class="group then-group" style="display: none">
                                    <div class="list-group-item commands" style="display: none">
                                        <div class="row">
                                            <div class="col-4 pl-4 mb-4 required">
                                                <select name="device" class="bg-white shadow w-100 form-control form-control-lg">
                                                    <option value="" selected disabled>Device</option>
                                                    <option value="1">Device #1</option>
                                                    <option value="2">Device #2</option>
                                                </select>
                                            </div>
                                            <div class="col-4 pl-4 mb-4 required">
                                                <select name="command" class="bg-white shadow w-100 form-control form-control-lg">
                                                    <option value="" selected disabled>Command</option>
                                                    <option value="1">Open</option>
                                                    <option value="2">Close</option>
                                                </select>
                                            </div>
                                            <div class="col-4 pl-4 mb-4 required">
                                                <input type="text" name="value" placeholder="Value" class="form-control form-control-lg shadow p-3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item tasks_tgr" style="display: none">
                                        <div class="row">
                                            <div class="col-12 pl-4 mb-4 required">
                                                <select name="task" class="bg-white shadow w-100 mt-2 pl-2 form-control form-control-lg">
                                                    <option value="" selected disabled>Select Task</option>
                                                    <option value="1">Task #1</option>
                                                    <option value="2">Task #2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item wait" style="display: none">
                                        <div class="row">
                                            <div class="col-12 pl-4 mb-4 required">
                                                <input type="text" name="wait" placeholder="Seconds" class="form-control form-control-lg shadow p-3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item hr">
                                        <hr />
                                    </div>
                                </div>

                                <div class="list-group-item separator">
                                    <div class="float-left"></div>
                                    <div class="float-right" style="margin-top: -25px;">
                                        <span><a href="#" id="add-then">ADD</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 btn-bottom pt-2 pr-4" style="position: absolute; bottom: 2em; right: 1em">
                                <div class="float-right">
                                    <button class="btn btn-secondary mr-4">Cancel</button>
                                    <button class="btn btn-primary" id="task-save">&nbsp;Save&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var jobTask = undefined;

    document.addEventListener('DOMContentLoaded', function () {

        $('#jobTaskModal').on('show.bs.modal', function () {
            $('#jobTaskModal .main').removeClass('active');
            $('.when-input').not(':first').remove();
            $('.when-group').not(':first').remove();
            $('.then-input').not(':first').remove();
            $('.then-group').not(':first').remove();

            if (jobTask != undefined) {
                $('#jobTaskModal input[name=task-id]').val(jobTask.id);
                $('#jobTaskModal input[name=title]').val(jobTask.title);

                jobTask.conditions.forEach(item => addWhen(item));
                jobTask.executions.forEach(item => addThen(item));

               

                jobTask = undefined;
            } else {
                $('#jobTaskModal input[name=title]').val('');
                addWhen();
                addThen();
            }

            $('#jobTaskModal .main').addClass('active');
        });

        $('#jobTaskModal').on('shown.bs.modal', function () {
            console.log($('.plugin-when .rm-section:visible').eq(0));
            $('.plugin-when .rm-section:visible').eq(0).hide();
            $('.plugin-then .rm-section:visible').eq(0).hide();
        });


        $('#add-when').on('click', function () {
            addWhen({});
        });

        function addWhen(item) {
            var whenInput = $('.when-input:first').clone();
            var whenGroup = $('.when-group:first').clone();
            
            $('.rm-section', whenInput).on('click', function () {
                if (confirm('Are you sure you want to delete this section?')) {
                    var parent = (this).closest('.list-group-item');
                    $(parent).next('.group').remove();
                    parent.remove();

                    $('.plugin-when .rm-section:first').hide();
                }
            });

            $('select', whenInput)
                .on('change', onWhenChanged);
            

            $('.plugin-when .separator')
                .before(whenInput)
                .before(whenGroup);

            whenInput.show();
            whenGroup.show();            

            if (item != undefined) {                
                $('input[name=when-id]', whenInput).val(item.id);
                $('input[name=date]', whenGroup).val(item.dateTime.split('T')[0]);
                $('input[name=time]', whenGroup).val(item.dateTime.split('T')[1]);
                $('select[name=event]', whenGroup).val(item.triggeredEventId);
                $('select[name=sensor]', whenGroup).val(item.sensorId);
                $('select[name=operation]', whenGroup).val(item.operation);
                $('input[name=value]', whenGroup).val(item.value);
                $('select[name=task]', whenGroup).val(item.triggeredTaskId);

                $('select', whenInput)
                    .val(item.type)
                    .change();
            }
        }

        $('#add-then').on('click', function () {
            addThen();
        });

        function addThen(item) {
            var thenInput = $('.then-input:first').clone();
            var thenGroup = $('.then-group:first').clone();

            $('select', thenInput).val('')
                .on('change', onThenChanged);
            
            $('input', thenGroup).val('');

            $('.plugin-then .separator')
                .before(thenInput)
                .before(thenGroup);

            if (item != undefined) {
                $('input[name=then-id]', thenInput).val(item.id);
                $('input[name=wait]', thenGroup).val(item.waitSeconds);
                $('select[name=device]', thenGroup).val(item.deviceId);
                $('select[name=command]', thenGroup).val(item.commandId);
                $('input[name=value]', thenGroup).val(item.value);
                $('select[name=task]', thenGroup).val(item.triggeredTaskId);

                $('select', thenInput)
                    .val(item.type)
                    .change();
            }

            thenInput.show();
            thenGroup.show();
        }

        $('#task-save').on('click', function () {
            $('#task-save').prop('disabled', true);
            var requires = $("#jobTaskModal .required:visible");
            var emptyFields = 0;

            requires.each(function () {
                var input = $('input, select', this);

                if (input && (input.val() == "" || input.val() == null)) {
                    $(this).addClass("vibration");
                    emptyFields++;
                }
            });

            if (emptyFields == 0) {
                $('#task-save').prop('disabled', false);

                var task = {
                    id: $('#jobTaskModal input[name=task-id]').val(),
                    title: $('#jobTaskModal input[name=title]').val(),
                    conditions: [],
                    executions: []
                };

                $("#jobTaskModal .when-input:visible").each(function () {
                    var id = $('input[name=when-id]', this).val();
                    var type = $('select', this).val();
                    var inputs = $(this).closest('.list-group-item').next('.group');

                    if (type == 1) {
                        task.conditions.push({
                            id: id,
                            type: type,
                            dateTime: $('input[name=date]', inputs).val() + ' ' + $('input[name=time]', inputs).val()
                        });
                    }

                    if (type == 3) {
                        task.conditions.push({
                            id: id,
                            type: type,
                            triggeredEventId: $('select[name=event]', inputs).val()
                        });
                    }

                    if (type == 4) {
                        task.conditions.push({
                            id: id,
                            type: type,
                            sensorId: $('select[name=sensor]', inputs).val(),
                            operation: $('select[name=operation]', inputs).val(),
                            value: $('input[name=value]', inputs).val()
                        });
                    }
                        
                    if (type == 5) {
                        task.conditions.push({
                            id: id,
                            type: type,
                            triggeredTaskId: $('select[name=task]', inputs).val()
                        });
                    }                    
                });

                $("#jobTaskModal .then-input:visible").each(function () {
                    var id = $('input[name=then-id]', this).val();
                    var type = $('select', this).val();
                    var inputs = $(this).closest('.list-group-item').next('.then-group');

                    if (type == 3) {
                        task.executions.push({
                            id: id,
                            type: type,
                            waitSeconds: $('input[name=wait]', inputs).val()
                        });
                    }

                    if (type == 1) {
                        task.executions.push({
                            id: id,
                            type: type,
                            deviceId: $('select[name=device]', inputs).val(),
                            commandId: $('select[name=command]', inputs).val(),
                            value: $('input[name=value]', inputs).val()
                        });
                    }

                    if (type == 2) {
                        task.executions.push({
                            id: id,
                            type: type,
                            triggeredTaskId: $('select[name=task]', inputs).val()
                        });
                    }
                });

                $.ajax({
                    type: task.id == 0 ? "POST" : "PUT",
                    url: "/api/jobtask",
                    data: JSON.stringify(task),
                    dataType: 'json',
                    contentType: 'application/json',
                });
            } else {
                setTimeout(function () {
                    $("#jobTaskModal .required").removeClass("vibration");
                    $('#task-save').prop('disabled', false);
                }, 1500);
            }
        });

        function onWhenChanged() {
            var parent = $(this).closest('.list-group-item');

            showHide('.date', this, 1, parent);
            showHide('.days', this, 2, parent);
            showHide('.events', this, 3, parent);
            showHide('.conditions', this, 4, parent);
            showHide('.tasks', this, 5, parent);

            $('.clockpicker').clockpicker();
            $('.datepicker').datepicker();
        }

        function onThenChanged() {
            var parent = $(this).closest('.list-group-item');

            showHide('.commands', this, '1', parent);
            showHide('.tasks_tgr', this, '2', parent);
            showHide('.wait', this, '3', parent);
        }

        function showHide(className, element, value, parent) {
            var item = $(className, parent.next('.group'));

            if (element.value == value) {
                item.css("display", "block");
            } else {
                item.hide();
            }
        }
    });
</script>
