<!-- Modal -->
<script type="text/javascript">
    function onTextInputFocus() {
        $(this).parent('.input-block').addClass('focus');
        $(this).parent().find('label').animate({
            'top': '1em',
            'fontSize': '1em'
        }, 300);
    }

    function onTextInputBlur() {
        if ($(this).val().length == 0) {
            $(this).parent('.input-block').removeClass('focus');
            $(this).parent().find('label').animate({
                'top': '1.3em',
                'fontSize': '1.2em'
            }, 300);
        }
    }
</script>
<div class="modal fade" id="widgetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content p-0">
            <div class="widget-wrapper">
                <div id="left-side">
                    <ul>
                        <li class="types-icon">
                            <i class="fa fa-list-alt" aria-hidden="true" style="font-size: 120px;"></i>
                        </li>
                        <li class="types-text ml-3" style="font-size: 36px;">
                            Types
                        </li>
                        <li class="conf-icon ml-4" style="display: none">
                            <i class="fa fa-cogs" aria-hidden="true" style="font-size: 120px;"></i>
                        </li>
                        <li class="conf-text" style="font-size: 36px; display: none">
                            Configuration
                        </li>
                        <li class="review-icon ml-2" style="display: none">
                            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;"></i>
                        </li>
                        <li class="review-text mr-3" style="font-size: 36px; display: none">
                            Review
                        </li>
                    </ul>
                </div>
                <div id="right-side">
                    <div class="main active" name_attr="main">
                        <h3>Enter title and choose type</h3>
                        <hr />
                        <div class="input-block shadow mt-1 required">
                            <label for="">Title</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="row category-list required">
                            <input type="hidden" name="category-item" />
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/1041/1041728.png" type_attr="info" height="64" />
                                </label>
                                <br />
                                info
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/248/248965.png" height="64" type_attr="toggle" />
                                </label>
                                <br />
                                switch/toggle
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/427/427735.png" height="64" type_attr="light_dimmer" />
                                </label>
                                <br />
                                light with dimmer
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/763/763812.png" height="64" type_attr="move" />
                                </label>
                                <br />
                                movement sensor
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/1169/1169906.png" height="64" type_attr="open_close" />
                                </label>
                                <br />
                                open\close sensor
                            </div>
                            @*<div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/809/809744.png" height="64" type_attr="smoke" />
                                </label>
                                <br />
                                smoke & fire alarm sensor
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/2898/2898756.png" height="64" type_attr="water_leak" />
                                </label>
                                <br />
                                water leak sensor
                            </div>*@

                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/911/911409.png" height="64" type_attr="climate" />
                                </label>
                                <br />
                                AC
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/741/741236.png" height="64" type_attr="heating" />
                                </label>
                                <br />
                                heating
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/1606/1606312.png" type_attr="blinds" />
                                </label>
                                <br />
                                blinds
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://img.icons8.com/officel/64/000000/command-line.png" type_attr="command" />
                                </label>
                                <br />
                                custom script
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/3616/3616866.png" type_attr="chart" />
                                </label>
                                <br />
                                chart
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/237/237014.png" type_attr="feed" />
                                </label>
                                <br />
                                news feed
                            </div>
                            <div class="col-3">
                                <label>
                                    <img src="https://img.icons8.com/fluent/64/000000/weather.png" type_attr="forecast" />
                                </label>
                                <br />
                                weather forecast
                            </div>
                            @*<div class="col-3">
                                <label>
                                    <img src="https://image.flaticon.com/icons/png/512/1809/1809664.png" type_attr="weather" />
                                </label>
                                <br />
                                weather station
                            </div>*@
                        </div>
                        <div class="row ">
                            <div class="col-12 btn-bottom">
                                <div class="float-right">
                                    <button class="btn btn-primary" onclick="next(this)">Next</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    @await Html.PartialAsync("Configurations/_infoConfiguration")
                    @await Html.PartialAsync("Configurations/_toggleConfiguration")
                    @await Html.PartialAsync("Configurations/_lightDimmerConfiguration")
                    @await Html.PartialAsync("Configurations/_moveConfiguration")
                    @await Html.PartialAsync("Configurations/_forecastConfiguration")
                    @await Html.PartialAsync("Configurations/_openCloseConfiguration")
                    @await Html.PartialAsync("Configurations/_climateConfiguration")
                    @await Html.PartialAsync("Configurations/_commandConfiguration")
                    @await Html.PartialAsync("Configurations/_chartConfiguration")
                    @await Html.PartialAsync("Configurations/_heatingConfiguration")
                    @await Html.PartialAsync("Configurations/_blindsConfiguration")
                    @await Html.PartialAsync("Configurations/_feedConfiguration")
                    <div class="info-types" name_attr="info-types">
                        <h3 class="mb-3">Preview</h3>
                        <hr />
                        <h4 class="pl-3 mb-2"></h4>
                        <div class="row required">
                            <input type="hidden" />
                        </div>
                        <div class="row">
                            <div class="col-12 btn-bottom">
                                <div class="float-left">
                                    <button class="btn btn-primary" onclick="back(this)">Back</button>
                                </div>
                                <div class="float-right">
                                    @*<button class="btn btn-primary" onclick="next(this)">Next</button>*@
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var widgetRequest = {};
    var nextPage = [];
    var prevPage = [];
    var pageIndex = 0;
    var currentType = '';
    var nextPageFunc = undefined;

    function next(target) {
        var from = $(target).closest('.active').attr('name_attr');
        var requires = $("." + from + " .required:visible");
        var emptyFields = 0;

        requires.each(function () {
            var input = $('input, select:visible', this);

            if (input && (input.val() == "" || input.val() == null)) {
                console.log($(this));
                $(this).addClass("vibration");
                emptyFields++;
            }
        });

        setTimeout(function () {
            $("." + from + " .required").removeClass("vibration");
        }, 1500);

        if (emptyFields == 0) {
            $('#right-side .' + from).removeClass("active");
            $('#right-side .' + nextPage[pageIndex]).addClass("active");
            pageIndex++;

            updateLeftIcon(pageIndex);

            if (nextPageFunc != undefined) {
                nextPageFunc();
                nextPageFunc = undefined;
            }

            return true;
        }

        return false;
    }

    function back(target) {
        var from = $(target).closest('.active').attr('name_attr');
        $('#right-side .' + from).removeClass("active");
        $('#right-side .' + prevPage[pageIndex-1]).addClass("active");
        pageIndex--;

        updateLeftIcon(pageIndex); 
    }

    function updateLeftIcon(pageIndex) {
        $('.widget-wrapper ul > li').hide();

        if (pageIndex == 0) {
            $('.widget-wrapper ul > li.types-icon').show();
            $('.widget-wrapper ul > li.types-text').show();
        }

        if (pageIndex == 1) {
            $('.widget-wrapper ul > li.conf-icon').show();
            $('.widget-wrapper ul > li.conf-text').show();
        }

        if (pageIndex == 2) {
            $('.widget-wrapper ul > li.review-icon').show();
            $('.widget-wrapper ul > li.review-text').show();
        }
    }

    function clearForm(type) {
        if (currentType != type) {
            $('.category-list .col-3 label').parent().css('opacity', '1');
            $('.info-types div.required>div').css('opacity', '1');

            $('.category-list .col-3 input').val('');
            $('.info-types div.required input').val('');

            nextPage = [];
            prevPage = [];
            prevPage.push('main');
            currentType = type;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        $('.carousel').carousel();

        $('.category-list.types img').on('click', function () {
            $('.category-list.types label').parent().css('opacity', '0.3');
            $(this).parent().parent().css('opacity', '1');
            $('.category-list.types input').val("1");
        })

        $('.category-list .col-3 img').on('click', function () {
            var type = $(this).attr('type_attr');
            clearForm(type);

            $('.category-list .col-3 label').parent().css('opacity', '0.3');
            $(this).parent().parent().css('opacity', '1');
            $('.category-list input[name=category-item]').val("1");
            nextPageFunc = undefined;

            switch (type) {
                case 'info':
                    nextPage.push('info-configuration');
                    nextPageFunc = infoConfigShow;
                    break;
                default:
                    nextPage.push(type);
            }

        });

        $('.info-types .flat-card, .info-types .list-group-item, .info-types .card-grad').on('click', function () {
            $('.info-types div.required>div').css('opacity', '0.3');
            $(this).parent().css('opacity', '1');
            $('.info-types div.required input').val('1');
        });

        $('.widget-wrapper').find('.form-control').each(function () {
            var targetItem = $(this).parent();
            if ($(this).val()) {
                $(targetItem).find('label').css({
                    'top': '10px',
                    'fontSize': '18px'
                });
            }
        });        

        $('.widget-wrapper').find('.form-control').focus(onTextInputFocus);
        $('.widget-wrapper').find('.form-control').blur(onTextInputBlur);


        mainPie("donut-chart");
        $('.selectpicker').selectpicker();
    });
   
    function mainPie(id) {
        var seedData = [{"value": 25}, {"value": 25}, {"value": 25}, {"value": 25}, {"value": 25}, {"value": 25 }, {"value": 25 }, {"value": 25 }, {"value": 25}, {"value": 25}, {"value": 25}, {"value": 25        }, {"value": 25}, {"value": 25}, {"value": 25}, {"value": 25}, {"value": 25}, {"value": 25}];

        var width = 300, height = 300, radius = Math.min(width, height) / 2;

        var colour = function (index) {
            var items = ['rgb(239, 83, 80)', 'rgb(236, 64, 122)', 'rgb(171, 71, 188)', 'rgb(126, 87, 194)', 'rgb(92, 107, 192)', 'rgb(66, 165, 245)', 'rgb(41, 182, 246)', 'rgb(38, 198, 218)', 'rgb(38, 166, 154)', 'rgb(102, 187, 106)', 'rgb(156, 204, 101)', 'rgb(212, 225, 87)',
                'rgb(255, 238, 88)', 'rgb(255, 202, 40)', 'rgb(255, 167, 38)', 'rgb(255, 112, 67)', 'rgb(141, 110, 99)', 'rgb(189, 189, 189)', 'rgb(120, 144, 156)'];

            return items[index];
        }

        var arc = d3.arc()
            .innerRadius(radius - 70)
            .outerRadius(radius - 10);

        var pie = d3.pie()
            .value(function (d) { return d["value"]; })
            .sort(null);

        var svg = d3.select("#" + id)
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + radius + "," + radius + ")");

        svg.append("circle")
            .attr("cx", 0)
            .attr("cy", 0)
            .attr("r", 100)
            .attr("fill", "#fff");

        var g = svg.selectAll(".arc")
            .data(pie(seedData))
            .enter().append("g")
            .attr("class", "arc")

            .on("click", function (d, i, el) {
                $.each(el, function (index, value) {
                    $(value)
                        .attr("fill", "none")
                        .attr("stroke", colour(index))
                        .attr("stroke-width", "0");
                });

                $(el[i]).attr("stroke-width", "15");
                $("#setting-title").css("color", $(el[i]).attr("stroke"));
                showColorPalette(i);
            });

        function showColorPalette(i) {
            $(".color-palette").hide();
            var colorId = "#color-" + i;
            $(colorId).show();
        }

        g.append("path")
            .attr("d", arc)
            .attr("fill", function (d, i) {
                return colour(i);
            });

        return g;
    }   
</script>