<div class="smoke" name_attr="smoke">
    <h3>Smoke Device Configuration</h3>
    <hr />
    <div class="input-block shadow mt-1 required">
        <label for="">Title</label>
        <input type="text" class="form-control">
    </div>
    <div class="row devices">
        <div class="col-12 required">
            <select data-style="bg-white shadow device-list" class="w-100 selectpicker">
                <option>Select Provider</option>
                <option>Mqtt Broker</option>
            </select>
        </div>
    </div>
    <br />


    <div class="col-12 btn-bottom">
        <div class="float-left">
            <button class="btn btn-primary" onclick="back(this)">Back</button>
        </div>
        <div class="float-right">
            <button class="btn btn-primary save" disabled="disabled">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>