<div class="toggle" name_attr="toggle">
    <h3>Switch\Toggle Device Configuration</h3>
    <hr />
    <div class="input-block shadow mt-1 required">
        <label for="">Title</label>
        <input type="text" class="form-control">
    </div>
    <div class="row devices">
        <div class="col-12 required">
            <select name="pluginId" class="bg-white shadow device-list w-100 deviceType1 form-control form-control-lg">
                <option value="" disabled selected>Select Plugin</option>
            </select>
        </div>
    </div>
    <div class="plugin-configurations mt-4"></div>
    <br />


    <div class="col-12 btn-bottom">
        <div class="float-left">
            <button class="btn btn-primary" onclick="back(this)">Back</button>
        </div>
        <div class="float-right">
            <button class="btn btn-primary save" disabled="disabled">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>