@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row p-4">
            <nav class="navbar">
                <span class="h4">
                    <a href="/" >IoT Home Assistant</a>
                </span>
                <div class="collapse">
                    <ul class="nav">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Identity/Account/LogOut"><span class="oi oi-account-logout mr-3 mb-2"></span></NavLink>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="content p-2 mt-2">
            @Body
        </div>        
    </div>
</div>
<footer>
    <div class="collapse">
        <ul class="nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="display: block">
                    <span class="oi oi-grid-three-up"></span>
                    <span class="text"><br />Dashboard</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/tasks" style="display: block">
                    <span class="oi oi-clipboard"></span>
                    <span class="text"><br />Автоматизація</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/devices" style="display: block">
                    <span class="oi oi-tablet"></span>
                    <span class="text"><br />Пристрої</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/plugins" style="display: block">
                    <span class="oi oi-cloud-download"></span>
                    <span class="text"><br />Розширення</span>
                </NavLink>
            </li>
            <li class="nav-item ">
                <NavLink class="nav-link" href="/settings" style="display: block">
                    <span class="oi oi-cog"></span>
                    <span class="text"><br />Налаштування</span>
                </NavLink>
            </li>
        </ul>
    </div>
    <div class="text-white flaticon">
        Icon made by&nbsp;<a href="https://www.flaticon.com/authors/freepik" class="text-light font-weight-bold d-inline-block" target="_blank">Freepik</a>&nbsp;from&nbsp;<a href="http://www.flaticon.com/" class="text-light font-weight-bold d-inline-block" target="_blank" rel="noopener noreferrer">www.flaticon.com</a>
    </div>
</footer>
