html, body {
    height: 100%;
    margin: 0;
}

.page {
    min-height: 100vh;
}

.main {
    padding-bottom: 115px;
}

footer {
    height: 115px;
    margin-top: -115px;
}


.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    align-items: center;
    /*background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(82, 160, 229) 0%, rgb(8, 86, 165) 100%) repeat scroll 0% 0%;*/
    background-image: linear-gradient(135deg, rgb(8, 86, 165) 0%, rgb(5, 39, 103) 70%);
    height: 6em;
}

.top-row a {
    color: white;
}

.top-row .oi {
    font-size: 36px;
}

.top-row .navbar {
    padding: 0;
}


@media (min-width: 641px) {
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.top-row h3 a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

footer {
    overflow-y: auto;
    background: linear-gradient(135deg, #dd7952 0%, #b92922 70%);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0.25rem rgba(83, 99, 115, 0.25);
    color: white !important;
}

footer .nav-item .nav-link {
    color: #ffffff8c;
}

footer .nav-item.active .nav-link, footer .nav-item a.nav-link:hover {
    color: white;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}
.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding: 0.1rem;
    padding-bottom: 0.5rem;
}

.nav {
    flex-direction: row;
    justify-content: center;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;   
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.flaticon {
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    margin-top: -1em;   
}

.flaticon a, div.flaticon {
    color: #ffffff8c !important;
}
.collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
}

footer .e-icons, footer .oi {
    font-size: 32px;
}

a.nav-link span.text {
    font-size: 0.75rem;
}

.nav-item {
    text-align: center !important;
}

@media (min-width: 641px) {
    footer {
        padding-top: 1em;
    }

    .navbar-toggler {
        display: none;
    }

    a.nav-link span.text {
        font-size: 0.9rem;
    }

    .nav {
        flex-direction: row; 
        justify-content: center;
    }

    footer .e-icons, footer .oi {
        font-size: 36px;
    }

    footer a.nav-link {
        display: block;
        padding-right: 1rem;
        padding-left: 1rem;
    }    

    .nav-item a {
        height: 100%;
    }

    .nav-item ::deep a {
        line-height: 1.5rem;
    }

    .flaticon {
        font-size: 0.75rem;
    }
}

@media (min-width: 769px) {
    footer a.nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (min-width: 1450px) {

    .flaticon {
        display: flex;
        justify-content: end;
        margin-top: -2em;
        margin-right: 2em;
        font-size: 0.9rem;
    }
}