@await Html.PartialAsync("_JobTaskModal")
<h2 class="font-weight-bold pb-3">Tasks</h2>
<div id="header-btn">
    <a class="add-btn glb-btn" href="#" data-toggle="modal" data-target="#jobTaskModal">+</a>
</div>
<div class="widget">
    <div class="list-group-item">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Type</th>
                    <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
