<link href="~/css/clockpicker.css" rel="stylesheet" />

<div class="row">
    <div class="col-3 widget">
        <div class="list-group-item m-0">
            <label for="when" class="p-4"><b>WHEN:</b></label>
            <select data-style="bg-white shadow" id="when" class="w-100 selectpicker mt-2">
                <option value="" selected disabled>Please Select</option>
                <option value="1">Once</option>
                <option value="2">Every Time</option>
                <option value="3">Event Occurred</option>
                <option value="4">Condition is Met</option>
                <option value="5">Task Triggered</option>
            </select>

        </div>
        <div class="list-group-item" id="days" style="display: none">
            <div class="row">
                <div class="col-8 pl-4">
                    <select data-style="bg-white shadow" multiple class="w-100 selectpicker mt-2 pl-2">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                    </select>
                </div>
                <div class="col-4 pt-2 mb-4">
                    <div class="shadow required clockpicker ml-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text p-0 pl-1 pr-1 shadow">
                                <i aria-hidden="true" class="fa fa-clock-o"></i>
                            </div>
                            <input type="text" placeholder="00:00" class="form-control form-control-lg shadow p-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item" id="date" style="display: none">
            <div class="row mb-4">
                <div class="col-6 ml-4">
                    <div class="required mr-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text p-0 pl-1 pr-1 shadow">
                                <i aria-hidden="true" class="fa fa-calendar"></i>
                            </div>
                            <input type="text" placeholder="dd/mm/yyyy" class="form-control form-control-lg shadow datepicker">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="required clockpicker">
                        <div class="input-group-prepend">
                            <div class="input-group-text p-0 pl-1 pr-1 shadow">
                                <i aria-hidden="true" class="fa fa-clock-o"></i>
                            </div>
                            <input type="text" placeholder="00:00" class="form-control form-control-lg shadow p-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item" id="events" style="display: none">
            <div class="row">
                <div class="col-12 pl-4 mb-4">
                    <select data-style="bg-white shadow" class="w-100 selectpicker">
                        <option value="" selected disabled>Select Event</option>
                        <option value="1">Event #1</option>
                        <option value="2">Event #2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="list-group-item" id="conditions" style="display: none">
            <div class="row">
                <div class="col-3 pl-4 mb-4">
                    <select data-style="bg-white shadow" class="w-100 selectpicker">
                        <option value="" selected disabled>Device</option>
                        <option value="1">Device #1</option>
                        <option value="2">Device #2</option>
                    </select>
                </div>
                <div class="col-3 pl-4 mb-4">
                    <select data-style="bg-white shadow" class="w-100 selectpicker">
                        <option value="" selected disabled>Sensor</option>
                        <option value="1">Sensor #1</option>
                        <option value="2">Sensor #2</option>
                    </select>
                </div>
                <div class="col-3 pl-4 mb-4">
                    <select data-style="bg-white shadow" class="w-100 selectpicker">
                        <option value="" selected disabled>Condition</option>
                        <option value="1">==</option>
                        <option value="2">!=</option>
                        <option value="3"><</option>
                        <option value="4">></option>
                        <option value="5"><=</option>
                        <option value="6">>=</option>
                    </select>
                </div>
                <div class="col-3 pl-4 mb-4
                     ">
                    <input type="text" placeholder="Value" class="form-control form-control-lg shadow p-4">
                </div>
            </div>
        </div>
        <div class="list-group-item" id="tasks" style="display: none">
            <div class="row">
                <div class="col-12 pl-4 mb-4">
                    <select data-style="bg-white shadow" class="w-100 selectpicker mt-2 pl-2">
                        <option value="" selected disabled>Select Task</option>
                        <option value="1">Task #1</option>
                        <option value="2">Task #2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="float-left"></div>
            <div class="float-right" style="margin-top: -25px;">
                <span><a href="#">ADD</a></span>
            </div>
        </div>
        <div class="list-group-item">
            <hr />
        </div>
        <div class="list-group-item">
            <label for="then" class="p-4"><b>THEN:</b></label>
            <select data-style="bg-white shadow" id="then" class="w-100 selectpicker mt-2">
                <option value="" selected disabled>Please Select</option>
                <option value="1">Execute Command</option>
                <option value="2">Trigger Task</option>
                <option value="3">Wait</option>
            </select>
        </div>
        <div class="list-group-item" id="commands" style="display: none">
            <div class="row">
                <div class="col-4 pl-4 mb-4">
                    <select data-style="bg-white shadow" class="w-100 selectpicker">
                        <option value="" selected disabled>Device</option>
                        <option value="1">Device #1</option>
                        <option value="2">Device #2</option>
                    </select>
                </div>
                <div class="col-4 pl-4 mb-4">
                    <select data-style="bg-white shadow" class="w-100 selectpicker">
                        <option value="" selected disabled>Command</option>
                        <option value="1">Open</option>
                        <option value="2">Close</option>
                    </select>
                </div>
                <div class="col-4 pl-4 mb-4">
                    <input type="text" placeholder="Value" class="form-control form-control-lg shadow p-4">
                </div>
            </div>
        </div>
        <div class="list-group-item" id="tasks_tgr" style="display: none">
            <div class="row">
                <div class="col-12 pl-4 mb-4">
                    <select data-style="bg-white shadow" class="w-100 selectpicker mt-2 pl-2">
                        <option value="" selected disabled>Select Task</option>
                        <option value="1">Task #1</option>
                        <option value="2">Task #2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="list-group-item" id="wait" style="display: none">
            <div class="row">
                <div class="col-12 pl-4 mb-4">
                    <input type="text" placeholder="Seconds" class="form-control form-control-lg shadow p-4">
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="float-left"></div>
            <div class="float-right" style="margin-top: -25px;">
                <span><a href="#">ADD</a></span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        $('.clockpicker').clockpicker();
        $(".datepicker").datepicker();

        $('#when').on('change', function () {
            if (this.value == 1) {
                $('#date').css("display", "block");
            } else {
                $('#date').hide();
            }

            if (this.value == 2) {
                $('#days').css("display", "block");
            } else {
                $('#days').hide();
            }

            if (this.value == 3) {
                $('#events').css("display", "block");
            } else {
                $('#events').hide();
            }

            if (this.value == 4) {
                $('#conditions').css("display", "block");
            } else {
                $('#conditions').hide();
            }

            if (this.value == 5) {
                $('#tasks').css("display", "block");
            } else {
                $('#tasks').hide();
            }
        });

        $('#then').on('change', function () {
            if (this.value == 1) {
                $('#commands').css("display", "block");
            } else {
                $('#commands').hide();
            }

            if (this.value == 2) {
                $('#tasks_tgr').css("display", "block");
            } else {
                $('#tasks_tgr').hide();
            }

            if (this.value == 3) {
                $('#wait').css("display", "block");
            } else {
                $('#wait').hide();
            }
        });
    });
</script>