<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

        <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/auth_site.css" />
    <style type="text/css">
        

    </style>
</head>
<body class="p-2">
    <h1 class="pb-5 mb-5 text-center text-white">IoT Home Assistant</h1>
    <div class="container body-content">
        @RenderBody()
        
            @*<div class="form-container sign-up-container">
                <form action="#">
                    <h1>Створити новий обліковий запис</h1>
                    <span>or use your email for registration</span>
                    <input type="text" placeholder="Ваше ім'я" />
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Пароль" />
                    <button>Створити</button>
                </form>
            </div>
            
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Привіт!</h1>
                        <h3>Введіть необхідні дані для реєстрації та почніть подорож разом з нами!</h3>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h2 class="font-weight-bolder">З&nbsp;Поверненням!</h2>
                        <p class="pt-3 h6">Щоб залишатися на зв’язку з нами, увійдіть у систему зі своїм Email і паролем.</p>
                    </div>
                </div>
            </div>*@
    </div>
    <span class="h6 text-white pt-5">IoT Home Assistant © 2020-@DateTime.Now.Year</span>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
