@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style='font-family: -apple-system, BlinkMacSystemFont, " Segoe UI", Roboto, "Helvetica Neue" , Arial, "Noto Sans" , sans-serif, "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol" , "Noto Color Emoji" ;'>
    @if (ViewBag.PlaceId != null && ViewBag.FoundWeather)
    {
        <a class="weatherwidget-io" style="display: none;" href="https://forecast7.com/uk/@ViewBag.PlaceId/" data-label_1="@ViewBag.City" data-label_2="Погода" data-font="Roboto Slab" data-icons="Climacons Animated" data-theme="pure">@ViewBag.City Погода</a>
        <script>
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
    }
    else
    {
        <h2><center>Any weather found for the city '@ViewBag.City'</center></h2>
    }
</body>
</html>