@using IoTHomeAssistant.Domain.Enums;
@using IotHomeAssistant.Blazor.Data;
@inherits BaseItemComponent

@if (WidgetItem.Type == WidgetItemTypeEnum.Blinds)
{
    <div class="card-wrapper">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="w-100">
                    <div class="row">
                        <div class="col-12">
                            <span class="h3">@WidgetItem.Title</span>                            
                        </div>
                        <div class="col-12 mt-4 d-flex justify-content-between">
                            <span class="text-center pl-4 nav-item">
                                <a class="nav-link" href="#" @onclick="Open">
                                    <img src="https://cdn-icons-png.flaticon.com/512/892/892687.png" width="35" /><br />
                                    Відкрити
                                </a>
                            </span>
                            <span class="text-center nav-item">
                                <a class="nav-link" href="#" @onclick="Stop">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2611/2611514.png" width="35" /><br />
                                    Пауза
                                </a>
                            </span>
                            <span class="text-center pr-4 nav-item">
                                <a class="nav-link" href="#" @onclick="Close">
                                    <img src="https://cdn-icons-png.flaticon.com/512/892/892629.png" width="35" /><br />
                                    Закрити
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="illustration-pro pr-2 pr-sm-2 pl-sm-1 pr-lg-4 pl-lg-2">
                    <ItemContextMenuComponent IsPreview="IsPreview"
                        OnEdit="() => OnEditWidget.InvokeAsync()"
                        OnDelete="() => OnDeleteWidget.InvokeAsync()" />
                    <div class="light">
                    </div>
                    <div class="blinds">
                        <div class="blinds-top"></div>
                        <ul class="blinds-rows" style="top: @(top)px">
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                            <li class="blinds-row"></li>
                        </ul>
                    </div>
                    <div class="code">
                        <img src="https://cdn-icons-png.flaticon.com/512/4917/4917395.png" class="ml-4" width="149" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}