@using IoTHomeAssistant.Domain.Enums;
@using IotHomeAssistant.Blazor.Data;
@inherits BaseItemComponent

@if (WidgetItem.Type == WidgetItemTypeEnum.Informer)
{
    <div class="card-wrapper">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <img src="@( WidgetItem.Icon != null ? WidgetItem.Icon.Value : "https://cdn-icons-png.flaticon.com/512/2611/2611445.png")" width="65" />
                <div class="w-100">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <span>
                                <span class="h5 w-100">@WidgetItem.Title</span>
                                <ItemContextMenuComponent IsPreview="IsPreview"
                                    OnEdit="() => OnEditWidget.InvokeAsync()"
                                    OnDelete="() => OnDeleteWidget.InvokeAsync()" />
                            </span>
                            <span class="h3">@(value)@(WidgetItem.SymbolAfter)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}