@using IoTHomeAssistant.Domain.Enums;
@using IotHomeAssistant.Blazor.Data;
@inherits BaseItemComponent

@if (WidgetItem.Type == WidgetItemTypeEnum.Bulb)
{
    <div class="card-wrapper">
        <div class="row">
            <div class="col-12 d-sm-show d-md-none">
                <label class="h4">@WidgetItem.Title</label>
            </div>
            <div class="col-12">
                <img src="https://image.flaticon.com/icons/png/512/2779/2779861.png" height="90" />
                <label class="h4 d-none d-sm-none d-md-inline">@WidgetItem.Title</label>
                <div class="float-right text-center">
                    <ItemContextMenuComponent IsPreview="IsPreview"
                        OnEdit="() => OnEditWidget.InvokeAsync()"
                        OnDelete="() => OnDeleteWidget.InvokeAsync()" />
                    <SfSwitch CssClass="e-large mb-4" @bind-Checked="isChecked" OnLabel="ON" OffLabel="OFF" ValueChange="Change" TChecked="bool"></SfSwitch><br />
                    <SfColorPicker Mode="ColorPickerMode.Palette" @bind-Value="color" ValueChange="ColorSelect" ShowButtons="false"></SfColorPicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="https://image.flaticon.com/icons/png/512/880/880950.png" class="ml-3" height="30" />
                <span>
                    <input type="range" class="form-range pt-1 pr-0" min="10" max="99" value="@brightness" @onchange="(args) => ChangeBrightness(args)" />
                </span>
                <img src="https://image.flaticon.com/icons/png/512/880/880909.png" height="40" />
                <span class="text-secondary text-uppercase">яскравість</span>
            </div>
        </div>
    </div>
}