@using IoTHomeAssistant.Domain.Enums;

@if (WidgetItem.Type == WidgetItemTypeEnum.Switcher)
{
    <div class="card-wrapper">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <img src="@(WidgetItem.Icon.Value)" height="65" />
                <div class="w-100">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <span class="h5 w-100">@WidgetItem.Title</span>
                            <span>
                                <SfSwitch CssClass="e-large" @bind-Checked="_isChecked" OnLabel="ON" OffLabel="OFF"></SfSwitch>
                                <ItemContextMenuComponent IsPreview="IsPreview"
                                                          OnEdit="() => OnEditWidget.InvokeAsync()"
                                                          OnDelete="() => OnDeleteWidget.InvokeAsync()">
                                </ItemContextMenuComponent>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}