<div class="climate" name_attr="climate">
    <h3>AC Configuration</h3>
    <hr />
    <div class="input-block shadow mt-1 required">
        <label for="">Title</label>
        <input type="text" class="form-control">
    </div>
    <div class="row devices">
        <div class="col-12 required">
            <select data-style="bg-white shadow device-list" class="w-100 selectpicker">
                <option>Select Device</option>
            </select>
        </div>
    </div>
    <br />
    <h5 class="mt-5">Preview:</h5>
    <div class="row">
        <div class="col-12 widget">
            <div class="list-group-item">
                <h4 class="pl-2">Climate</h4>
            </div>
            <div class="list-group-item">
                <div class="air">
                    <div class="degree-air">
                        <div class="degree-box">
                            <div class="degree"></div>
                            <div class="degree">21°</div>
                            <div class="degree current">22°</div>
                            <div class="degree">23°</div>
                            <div class="degree"></div>
                        </div>
                    </div>
                    <div class="detail-air">
                        <div class="detail-col">
                            <i class="fa fa-gg red"></i>
                            <span>Current</span>
                        </div>
                        <div class="detail-col">
                            <i class="fa fa-hourglass-o blue"></i>
                            <span>Time</span>
                        </div>
                        <div class="detail-col">
                            <i class="fa fa-money green"></i>
                            <span>Expenses</span>
                        </div>
                        <div class="detail-col">
                            <i class="fa fa-gg red"></i>
                            <span>Current</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 btn-bottom">
        <div class="float-left">
            <button class="btn btn-primary" onclick="back(this)">Back</button>
        </div>
        <div class="float-right">
            <button class="btn btn-primary save" disabled="disabled">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>