<div class="feed" name_attr="feed">
    <h3>News Feed Configuration</h3>
    <hr />
    <h1><center>To be implemented soon...</center></h1>
    <div class="col-12 btn-bottom">
        <div class="float-left">
            <button class="btn btn-primary" onclick="back(this)">Back</button>
        </div>
        <div class="float-right">
            <button class="btn btn-primary save" disabled="disabled">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>