<div class="light_dimmer" name_attr="light_dimmer">
    <h3>Light with Dimmer Configuration</h3>
    <hr />
    <div class="input-block shadow mt-1 required">
        <label for="">Title</label>
        <input type="text" class="form-control">
    </div>
    <div class="row devices">
        <div class="col-12 required">
            <select data-style="bg-white shadow device-list" class="w-100 selectpicker">
                <option>Select Device</option>
            </select>
        </div>
    </div>
    <br />
    <br />
    <h5 class="mt-5">Preview:</h5>
    <div class="row widget">
        <div class="list-group-item col-12">
            <h4 class="pl-2">YeeLight</h4>
        </div>
        <div class="list-group-item col-12">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/2779/2779861.png" height="90" />
                <span class="m-auto">
                    <img src="https://image.flaticon.com/icons/png/512/880/880950.png" class="ml-3" height="30" />
                    <span>
                        <input type="range" class="form-range form-control-lg p-4 m-4" id="customRange1" min="0" max="100" />
                    </span>
                    <img src="https://image.flaticon.com/icons/png/512/880/880909.png" height="40" />
                    <span class="text-secondary text-uppercase">brightness</span>
                </span>
            </div>
            <div class="float-right mr-2">
                <input type="checkbox" id="switch3" checked class="toggle" /><label for="switch3" class="toggle">Toggle</label>
            </div>
        </div>
        <div class="list-group-item col-12">
            <h5 class="pl-2">Colors and Scenes</h5>
        </div>
        <div class="list-group-item col-12">
            <ol class="bulb-palette">
                <li style="background-color: white"></li>
                <li style="background-color: #FFEB3B"></li>
                <li style="background-color: #FF9800"></li>
                <li style="background-color: #FF5722"></li>
                <li style="background-color: #E91E63"></li>
                <li style="background-color: #9C27B0"></li>
                <li style="background-color: #673AB7"></li>
                <li style="background-color: #2196F3"></li>
                <li style="background-color: #03A9F4"></li>
                <li style="background-color: #00BCD4"></li>
                <li style="background-color: #009688"></li>
                <li style="background-color: #4CAF50"></li>
                <li style="background-color: #CDDC39"></li>
            </ol>
        </div>
        <div class="list-group-item p-4 col-12">
            <button type="button" class="m-2 ml-4 btn btn-secondary">None</button>
            <button type="button" class="m-2 btn btn-primary">Sleeping</button>
            <button type="button" class="m-2 btn btn-primary">Reading</button>
            <button type="button" class="m-2 mr-4 btn btn-primary">Working</button>
        </div>
    </div>
    <div class="col-12 btn-bottom">
        <div class="float-left">
            <button class="btn btn-primary" onclick="back(this)">Back</button>
        </div>
        <div class="float-right">
            <button class="btn btn-primary save" disabled="disabled">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>