<div class="move" name_attr="move">
    <h3>Movement Configuration</h3>
    <hr />
    <div class="input-block shadow mt-1 required">
        <label for="">Title</label>
        <input type="text" class="form-control">
    </div>
    <div class="row devices">
        <div class="col-12 required">
            <select data-style="bg-white shadow device-list" class="w-100 selectpicker">
                <option>Select Device</option>
            </select>
        </div>
    </div>
    <br />
    <h5 class="mt-5">Preview:</h5>
    <div class="row">
        <div class="col-12 widget">
            <div class="list-group-item">
                <div class="float-left">
                    <img src="https://image.flaticon.com/icons/png/512/763/763812.png" height="90" />
                    <span class="h4 pl-3">Рух в коридорі</span>
                </div>
                <div class="float-right mr-2 pt-3">
                    <div class="signal-bars mt1 sizing-box ok three-bars">
                        <div class="first-bar bar"></div>
                        <div class="second-bar bar"></div>
                        <div class="third-bar bar"></div>
                        <div class="fourth-bar bar"></div>
                        <div class="fifth-bar bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 btn-bottom">
        <div class="float-left">
            <button class="btn btn-primary" onclick="back(this)">Back</button>
        </div>
        <div class="float-right">
            <button class="btn btn-primary save" disabled="disabled">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>