<div class="open_close" name_attr="open_close">
    <h3>Window\Door Open-Close Configuration</h3>
    <hr />
    <div class="input-block shadow mt-1 required">
        <label for="">Title</label>
        <input type="text" class="form-control">
    </div>
    <div class="row devices">
        <div class="col-12 required">
            <select data-style="bg-white shadow device-list" class="w-100 selectpicker">
                <option>Select Device</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row category-list types required mt-4 pt-4">
        <input type="hidden" />
        <div class="col-6" attr_val="window">
            <label>
                <img src="https://image.flaticon.com/icons/png/512/1353/1353187.png" />
            </label>
            <br />
            Window
        </div>
        <div class="col-6" attr_val="door">
            <label>
                <img src="https://image.flaticon.com/icons/png/512/1229/1229960.png" />
            </label>
            <br />
            Door
        </div>       
    </div>
    <br />
    <h5>Preview:</h5>
    <div class="row widget">
        <div class="list-group-item col-12">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/1229/1229960.png" height="90" />
                <span class="h4 pl-3">Двері на кухню</span>
            </div>
            <div class="float-right mr-2">
                <img src="https://image.flaticon.com/icons/png/512/861/861673.png" height="90" />
            </div>
        </div>
    </div>
    <div class="col-12 btn-bottom">
        <div class="float-left">
            <button class="btn btn-primary" onclick="back(this)">Back</button>
        </div>
        <div class="float-right">
            <button class="btn btn-primary save" disabled="disabled">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>