@model List<IoTHomeAssistant.Domain.Entities.Plugin>
@await Html.PartialAsync("_PluginModal")

<h2 class="font-weight-bold pb-3">Plugins</h2>
<div id="header-btn">
    <a class="add-btn glb-btn" href="#" data-toggle="modal" data-target="#pluginModal">+</a>
</div>
<div class="widget">
    <div class="list-group-item p-5 tbl-container">
        <div class="loader_new">Loading...</div>
        <table class="table" style="font-size: 1.3em; display: none;">
            <thead class="thead-dark">
            <tr>
                <th> </th>
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Title</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr style="display: none">
                <td style="width: 2rem;" class="pl-5">
                    <a href="#" class="edit-action" data-id="">
                        <i class="fa fa-edit" style="font-size: 2rem"></i>
                    </a>
                </td>
                <td class="plugin-id"></td>
                <td class="plugin-deviceType"></td>
                <td class="plugin-title"></td>
                <td style="width: 2rem;" class="pr-5">
                    <a href="#" class="remove-action" data-id="">
                        <i class="fa fa-trash" style="color: red; font-size: 2rem"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="list-group-item">
        <nav style="margin: 0 auto; font-size: 1.3em;">
            <ul class="pagination" style="display: none;">
                <li class="page-item prev-disabled disabled">
                    <span class="page-link">Prev</span>
                </li>
                <li class="page-item prev-link">
                    <span class="page-link">
                        <a href="">Prev</a>
                    </span>
                </li>
                <li class="page-item disabled p-2">
                    Page <span class="page-number"></span> of <span class="page-count"></span>
                </li>
                <li class="page-item next-disabled disabled">
                    <span class="page-link">Next</span>
                </li>
                <li class="page-item next-link">
                    <span class="page-link">
                        <a href="">Next</a>
                    </span>
                </li>
                <li class="page-item">
                    <input type="text" class="form-control shadow ml-2 mr-2 page-input" style="width: 3em"/>
                </li>
                <li class="page-item">
                    <a class="page-link to-go" href="#">Go</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script type="text/javascript">
    var currentPage = 1;
    var pageCount = 1;

    function loadData() {
        $.ajax({
            type: "GET",
            url: "/api/plugins?pagenumber=" + currentPage,
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                currentPage = response.pageNumber;
                pageCount = response.pageCount;

                $('.table tbody tr').not(':first').remove();

                if (response.pageCount > 1) {
                    if (response.pageNumber == 1) {
                        $('.pagination .prev-disabled').show();
                        $('.pagination .prev-link').hide();
                    } else {
                        $('.pagination .prev-disabled').hide();
                        $('.pagination .prev-link').show();
                    }

                    $('.pagination .page-number').text(response.pageNumber);
                    $('.pagination .page-count').text(response.pageCount);

                    if (response.pageNumber == response.pageCount) {
                        $('.pagination .next-disabled').show();
                        $('.pagination .next-link').hide();
                    } else {
                        $('.pagination .next-disabled').hide();
                        $('.pagination .next-link').show();
                    }

                    $('.pagination').show();
                }

                response.items.forEach(item => {
                    var row = $('.table tbody tr:first').clone();

                    $('.edit-action', row).attr('data-id', item.id);
                    $('.remove-action', row).attr('data-id', item.id);

                    $('.plugin-id', row).text(item.id);
                    $('.plugin-deviceType', row).text(item.deviceType);
                    $('.plugin-title', row).text(item.title);

                    $('.remove-action', row).on('click', function () {
                        if (confirm('Are you sure you want to delete the item?')) {
                            $.ajax({
                                type: "DELETE",
                                url: "/api/plugins/",
                                  data: JSON.stringify({
                                     id : $(this).attr('data-id')
                                  }),
                                  dataType: 'json',
                                  contentType: 'application/json',
                                  success: function () {
                                    loadData();
                                    location.reload(true);
                                }
                            });
                        }
                    });

                    $('.edit-action', row).on('click', function () {
                        $.ajax({
                            type: "GET",
                            url: "/api/plugins/" + $(this).attr('data-id'),
                            success: function (response) {
                                plugin = response;

                                $('#pluginModal').modal('show');
                            }
                        });
                    });

                    row.show();

                    $('.table tbody').append(row);

                    $('.tbl-container').addClass('p-0');
                    $('.tbl-container').removeClass('p-5');
                    $('.loader_new').hide();
                    $('.table').show();
                });
            }
        });
    }


    document.addEventListener('DOMContentLoaded', function () {
        $('.prev-link a').on('click', function () {
            if (currentPage > 1) {
                currentPage--;
                loadData();
            }

            return false;
        });

        $('.next-link a').on('click', function () {
            if (currentPage < pageCount) {
                currentPage++;
                loadData();
            }

            return false;
        });

        $('a.to-go').on('click', function () {
            var page = $('.page-input').val();

            if (page >= 1 && page <= pageCount) {
                currentPage = page;
                loadData();
            }

            $('.page-input').val('');

            return false;
        });        

        loadData();
    });
</script>