<div class="card-wrapper">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <img src="https://image.flaticon.com/icons/png/512/1848/1848660.png" height="90" />
            <div class="w-100">
                <div class="row">
                    <div class="col-12 pt-4">
                        <span class="h4 pl-3">Ecovax Deebot 900 series</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4 d-flex justify-content-between">
            <span class="text-center pl-4">
                <img src="https://cdn-icons-png.flaticon.com/512/2813/2813516.png" width="35" /><br />
                Start
            </span>
            <span class="text-center">
                <img src="https://cdn-icons-png.flaticon.com/512/2611/2611514.png" width="35" /><br />
                Pause
            </span>
            <span class="text-center pr-4">
                <img src="https://cdn-icons-png.flaticon.com/512/977/977972.png" width="35" /><br />
                Go to Charge
            </span>
        </div>
    </div>
</div>

@code {
    bool isChecked;
}
