@using IoTHomeAssistant.Domain.Enums;

@if (WidgetItemType == WidgetItemTypeEnum.Bulb)
{
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
            <SfTextBox Placeholder="Назва" FloatLabelType="@FloatLabelType.Auto" ></SfTextBox>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
            <SfDropDownList TValue="int" TItem="DeviceItem" Placeholder="Пристрій" DataSource="@devices" FloatLabelType="@FloatLabelType.Auto">
                <DropDownListFieldSettings Value="Value" Text="Text"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </div>
    <h5>Демонстрація:</h5>
}

@code {
    List<DeviceItem> devices = new List<DeviceItem>()
{
        new DeviceItem()
        {
            Value = "1",
            Text ="Світло на кухні"
        },
        new DeviceItem()
        {
            Value = "2",
            Text ="Розетка на кухні"
        },
        new DeviceItem()
        {
            Value = "3",
            Text ="Торшер в спальні"
        }
    };

    public class DeviceItem
    {
        public string Value { get; set; }
        public string Text { get; set; }
    }
}
