@using Syncfusion.Blazor.SplitButtons;

<span class="ctx-menu">
    <SfDropDownButton Content="">
        <DropDownButtonEvents ItemSelected="MenuItemSelected"></DropDownButtonEvents>
        <DropDownMenuItems>
            <DropDownMenuItem Text="Редагувати" Id="edit" IconCss="e-icons e-edit"></DropDownMenuItem>
            <DropDownMenuItem Text="Видалити" Id="remove" IconCss="e-icons e-delete"></DropDownMenuItem>
        </DropDownMenuItems>
    </SfDropDownButton>
</span>
