<div class="card-wrapper">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <img src="@(ImageUrl)" height="65" />
            <div class="w-100">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <span class="h5 w-100">@Title</span>
                        <SfSwitch CssClass="e-large" @bind-Checked="IsChecked" OnLabel="ON" OffLabel="OFF"></SfSwitch>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>