<div class="card-wrapper">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <img src="https://cdn-icons-png.flaticon.com/512/3079/3079162.png" height="65" />
            <div class="w-100">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <span class="h5 w-100">Сценарій: не дома</span>
                        <img src="https://cdn-icons-png.flaticon.com/512/179/179401.png" height="50" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>