<div class="card-wrapper">
    <div class="row">
        <div class="col-12 col-md-4 col-sm-3">
            <h5>Кіцмань</h5>
            <h6>П'ятниця, 1 Жовтня</h6>
            <h5>19:06</h5>
        </div>

        <div class="col-7 col-md-5 col-sm-5">
            <div class="row">
                <i class="wi wi-cloudy main-icon"></i>
                <div>
                    <span class="main-temp">16</span>
                    <p class="desc">кілька хмар</p>
                </div>
                <p class="celcius">°C</p>
            </div>
        </div>

        <div class="col-5 col-sm-4 col-md-3 text-right">
            <h6>Вологість: 37%</h6>
            <h6>Вітер: 5.85m/s</h6>
            <h6>B:16° H:6°</h6>
        </div>

        <div class="col-lg-3 col-md-6 border-right text-center">
            СБ <i class="wi forecast-icon wi-cloudy"></i><br />
            <span class="mr-3">18°</span> 5°
        </div>

        <div class="col-lg-3 col-md-6 border-right text-center">
            НД <i class="wi forecast-icon wi-day-cloudy"></i><br />
            <span class="mr-3">19°</span> 6°
        </div>

        <div class="col-lg-3 col-md-6 border-right text-center">
            ПН <i class="wi forecast-icon wi-cloudy"></i><br />
            <span class="mr-3">18°</span> 7°
        </div>

        <div class="col-lg-3 col-md-6 text-center">
            ВТ <i class="wi forecast-icon wi-cloud"></i><br />
            <span class="mr-3">17°</span>6°
        </div>
    </div>
</div>
@code {
    //https://api.openweathermap.org/data/2.5/onecall?lat=48.2915&lon=25.9403&exclude=current,minutely,hourly,alerts&lang=ua&units=metric&appid=9c25b6c6b12f8ad20a25e9dd63d0f80f
} 