@using IotHomeAssistant.Blazor.Components.Widget
@using IoTHomeAssistant.Domain.Entities;
@using IoTHomeAssistant.Domain.Dto;
@using Syncfusion.Blazor.SplitButtons;
@page "/"

<EditWidgetComponent @ref="widgetModal" OnSave="RefreshAreas"></EditWidgetComponent>
<EditAreaComponent @ref="areaModal" OnSave="RefreshAreas"></EditAreaComponent>

<DeleteConfirmComponent 
    @ref="deleteAreaConfirm" 
    Title="Ви дійсно бажаєте вилучити дану області з усіма її віджетами?"
    OnConfirm="DeleteAreaAsync">
</DeleteConfirmComponent>

<DeleteConfirmComponent 
    @ref="deleteWidgetConfirm" 
    Title="Ви дійсно бажаєте вилучити даний віджет?"
    OnConfirm="DeleteWidgetAsync">
</DeleteConfirmComponent>

<div class="d-flex justify-content-end">
    <SfButton type="button" IsPrimary="true" class="m-3" OnClick="() => areaModal.AddArea()">Додати область</SfButton>
</div>

@foreach (Area area in areas)
{
    <h2 class="d-flex">
        <span class="mr-2">@(area.Title)</span>
        <SfDropDownButton Content="">
            <DropDownButtonEvents ItemSelected="(args) => MenuItemSelected(args, area)"></DropDownButtonEvents>
            <DropDownMenuItems>
                <DropDownMenuItem Text="Редагувати" Id="edit" IconCss="e-icons e-edit"></DropDownMenuItem>
                <DropDownMenuItem Text="Додати віджет" Id="add" IconCss="e-icons e-plus"></DropDownMenuItem>
                <DropDownMenuItem Separator=true></DropDownMenuItem>
                <DropDownMenuItem Text="Видалити" Id="remove" IconCss="e-icons e-delete"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfDropDownButton>
    </h2>
    <div class="row mt-2 mb-4">
        @foreach (WidgetItem widget in area.Widgets)
        {
            <div class="col-md-12 col-lg-6 col-xl-4">
                <InfoComponent 
                    WidgetItem="new WidgetItemDto(widget)" 
                    OnEditWidget="() => widgetModal.UpdateWidget(new WidgetItemDto(widget))"
                    OnDeleteWidget="() => OnDeleteWidget(widget.Id)">
                </InfoComponent>
            </div>
        }
    </div>
}

@*<h2>Static examples</h2>
<div class="row">
    <div class="col-md-12 col-lg-6 col-xl-4">
        <LightComponent></LightComponent>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <ClimateComponent></ClimateComponent>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <SwitchComponent IsChecked="false" Title="Світло в коридорі" ImageUrl="https://image.flaticon.com/icons/png/512/427/427735.png"></SwitchComponent>
        <SwitchComponent IsChecked="true" Title="Розетка на кухні біля котла" ImageUrl="https://image.flaticon.com/icons/png/512/2865/2865478.png"></SwitchComponent>
        <SwitchComponent IsChecked="false" Title="Торшер у вітальній" ImageUrl="https://image.flaticon.com/icons/png/512/2922/2922352.png"></SwitchComponent>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <ThermostatComponent></ThermostatComponent>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <CleanerComponent></CleanerComponent>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <BlindsComponent></BlindsComponent>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <InfoComponent WidgetItem="infoWidgetItem"></InfoComponent>
        <TaskComponent></TaskComponent>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <WeatherComponent></WeatherComponent>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
    </div>
</div>*@

@code {

}
