@using IotHomeAssistant.Blazor.Components.Widget
@using IoTHomeAssistant.Domain.Entities;
@using IoTHomeAssistant.Domain.Dto;
@using Syncfusion.Blazor.SplitButtons;
@page "/"

<EditWidgetComponent @ref="widgetModal" OnSave="RefreshAreas"></EditWidgetComponent>
<EditAreaComponent @ref="areaModal" OnSave="RefreshAreas"></EditAreaComponent>

<DeleteConfirmComponent 
    @ref="deleteAreaConfirm" 
    Title="Ви дійсно бажаєте вилучити дану області з усіма її віджетами?"
    OnConfirm="DeleteAreaAsync">
</DeleteConfirmComponent>

<DeleteConfirmComponent 
    @ref="deleteWidgetConfirm" 
    Title="Ви дійсно бажаєте вилучити даний віджет?"
    OnConfirm="DeleteWidgetAsync">
</DeleteConfirmComponent>

<div class="d-flex justify-content-end">
    <SfButton type="button" IsPrimary="true" class="m-3" OnClick="() => areaModal.AddArea()">Додати область</SfButton>
</div>

@foreach (Area area in areas)
{
    <h2 class="d-flex">
        <span class="mr-2">@(area.Title)</span>
        <SfDropDownButton Content="">
            <DropDownButtonEvents ItemSelected="(args) => MenuItemSelected(args, area)"></DropDownButtonEvents>
            <DropDownMenuItems>
                <DropDownMenuItem Text="Редагувати" Id="edit" IconCss="e-icons e-edit"></DropDownMenuItem>
                <DropDownMenuItem Text="Додати віджет" Id="add" IconCss="e-icons e-plus"></DropDownMenuItem>
                <DropDownMenuItem Separator=true></DropDownMenuItem>
                <DropDownMenuItem Text="Видалити" Id="remove" IconCss="e-icons e-delete"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfDropDownButton>
    </h2>
    <div class="row mt-2 mb-4">
        @foreach (WidgetItem widget in area.Widgets)
        {
            WidgetItemDto widgetDto = new WidgetItemDto(widget);
        <div class="col-md-12 col-lg-6 col-xl-4" dropzone="move" ondragover="event.preventDefault();">
                <InfoComponent WidgetItem="widgetDto"
                    OnEditWidget="() => widgetModal.UpdateWidget(widgetDto)"
                    OnDeleteWidget="() => OnDeleteWidget(widgetDto.Id)">
                </InfoComponent>
                <SwitchItemComponent WidgetItem="widgetDto"
                    OnEditWidget="() => widgetModal.UpdateWidget(widgetDto)"
                    OnDeleteWidget="() => OnDeleteWidget(widgetDto.Id)">
                </SwitchItemComponent>
                <LightComponent WidgetItem="widgetDto"
                    OnEditWidget="() => widgetModal.UpdateWidget(widgetDto)"
                    OnDeleteWidget="() => OnDeleteWidget(widgetDto.Id)">
                </LightComponent>
                <ClimateComponent WidgetItem="widgetDto"
                    OnEditWidget="() => widgetModal.UpdateWidget(widgetDto)"
                    OnDeleteWidget="() => OnDeleteWidget(widgetDto.Id)">
                </ClimateComponent>
                <CleanerComponent WidgetItem="widgetDto"
                    OnEditWidget="() => widgetModal.UpdateWidget(widgetDto)"
                    OnDeleteWidget="() => OnDeleteWidget(widgetDto.Id)">
                </CleanerComponent>
                <ThermostatComponent WidgetItem="widgetDto"
                    OnEditWidget="() => widgetModal.UpdateWidget(widgetDto)"
                    OnDeleteWidget="() => OnDeleteWidget(widgetDto.Id)">
                </ThermostatComponent>
                <BlindsComponent WidgetItem="widgetDto"
                    OnEditWidget="() => widgetModal.UpdateWidget(widgetDto)"
                    OnDeleteWidget="() => OnDeleteWidget(widgetDto.Id)">
                </BlindsComponent>
                <TaskComponent WidgetItem="widgetDto"
                    OnEditWidget="() => widgetModal.UpdateWidget(widgetDto)"
                    OnDeleteWidget="() => OnDeleteWidget(widgetDto.Id)">
                </TaskComponent>
                <WeatherComponent WidgetItem="widgetDto"
                    OnEditWidget="() => widgetModal.UpdateWidget(widgetDto)"
                    OnDeleteWidget="() => OnDeleteWidget(widgetDto.Id)">
                </WeatherComponent>
            </div>
        }
    </div>
}